# CENTHUD

In [1]:
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np


from icap.results.results import Results
from icap.database.icapdatabase import ICapDatabase

In [2]:
fp = 'icap/database/icapdatabase.json'
conn = ICapDatabase(fp).connect()

## CENTHUD (super)

In [3]:
from icap.centhud.centhud import CENTHUD
from icap.centhud.centhud import CENTHUDRecipe

In [4]:
c = CENTHUDRecipe(conn, Results).run_all()

In [5]:
# c.write_comparison_to_csv()
c.analyze_comparison()

Passing                          False  True  NULL   All
MeterType RateClass Strata Year
CON       1         RHT    2015      0     0    50    50
                           2016      0     0    40    40
                    RNH    2015      0     0   634   634
                           2016      0     0   469   469
          2         ND1    2015    366     3    12   381
                           2016    144     4    55   203
                    ND2    2015     51     1     6    58
                           2016     26     1    21    48
                    ND3    2015     13     2     4    19
                           2016      5     0    14    19
                    RNH    2015      1     0     0     1
                    SD1    2015      2     0     0     2
                           2016      2     0     1     3
                    SD2    2015      1     0     0     1
                           2016      1     0     0     1
          6         TH1    2015      0     0     1     1
                           2016      0     0     1     1
                    TN1    2015      0     0     2     2
                           2016      0     0     2     2
                    TN2    2015      0     0     2     2
                           2016      0     0     2     2
DMD       1         RNH    2016      0     0     1     1
          2         LGP    2015      0     0     4     4
                    ND1    2015      2     0     0     2
                           2016      1     0     0     1
                           2017      0     0     3     3
                    ND2    2015      2     0     0     2
                           2016      2     0     1     3
                           2017      0     0     3     3
                    ND3    2015      7     0     2     9
                           2016      3     0    17    20
                           2017      0     0     3     3
                    SD1    2015     44     0    19    63
                           2016     22     0    23    45
                           2017      0     0    33    33
                    SD2    2015     31     0    34    65
                           2016     21     0    13    34
                           2017      0     0    31    31
                    SD3    2015     16     0    28    44
                           2016     15     0     6    21
                           2017      0     0    21    21
          3         LGP    2016      0     0     1     1
                           2017      0     0     1     1
          6         TH1    2017      0     0     2     2
                    TH2    2017      0     0    14    14
All                                778    11  1576  2365

## CONEDConsumption

In [13]:
from icap.centhud.centhud import CENTHUDConsumption
con = CENTHUDConsumption(conn)

In [14]:
rec = con.records_.copy()
util = con.util_df_.copy()

In [10]:
tmp = pd.merge(rec, util,
        how='left',
        on=['Year', 'RateClass', 'Strata'])

tmp['ICap'] = tmp['LoadProfile'] * tmp['UtilityFactor']

In [16]:
rec.sort_values(by='PremiseId')

       PremiseId  Year RateClass Strata  LoadProfile
203   1103153000  2014         2    ND1        0.465
204   1107096000  2014         2    ND1        0.465
0     1107096000  2015         2    ND1        0.971
205   1110046000  2014         2    ND1        0.465
1307  1110106000  2014         1    RNH        0.990
220   1110206000  2014         2    ND1        0.465
221   1113005000  2014         2    ND1        0.465
660   1113171000  2014         2    ND2        1.006
206   1113209000  2014         2    ND1        0.465
207   1117061000  2014         2    ND1        0.465
208   1117207000  2014         2    ND1        0.465
662   1123059000  2014         2    ND2        1.006
1308  1123147000  2014         1    RNH        0.990
1309  1123168000  2014         1    RNH        0.990
1310  1133160000  2014         1    RNH        0.990
1311  1133225000  2014         1    RNH        0.990
832   1137040001  2015         1    RNH        1.712
1312  1137040001  2014         1    RNH        0.990
833   1138162000  2015         1    RNH        1.712
1313  1138162000  2014         1    RNH        0.990
734   1145037000  2015         1    RHT        1.635
776   1145037000  2014         1    RHT        1.024
1305  1145268000  2014         1    RNH        0.990
831   1145268000  2015         1    RNH        1.712
1306  1151250000  2014         1    RNH        0.990
735   1154242000  2015         1    RHT        1.635
777   1154242000  2014         1    RHT        1.024
778   1155189000  2014         1    RHT        1.024
1302  1160032000  2014         1    RNH        0.990
829   1160032000  2015         1    RNH        1.712
...          ...   ...       ...    ...          ...
1875  8489275001  2014         1    RNH        0.990
1876  8492021000  2014         1    RNH        0.990
1877  8492076001  2014         1    RNH        0.990
1258  8492076001  2015         1    RNH        1.712
1878  8492095500  2014         1    RNH        0.990
1879  8492158000  2014         1    RNH        0.990
1259  8492167000  2015         1    RNH        1.712
1880  8492167000  2014         1    RNH        0.990
1881  8495056000  2014         1    RNH        0.990
1260  8495056000  2015         1    RNH        1.712
760   8496164000  2015         1    RHT        1.635
810   8496164000  2014         1    RHT        1.024
1913  8496185001  2014         1    RNH        0.990
1283  8496185001  2015         1    RNH        1.712
1284  8497059000  2015         1    RNH        1.712
1914  8497059000  2014         1    RNH        0.990
1286  8501070000  2015         1    RNH        1.712
1916  8501070000  2014         1    RNH        0.990
1917  8502017000  2014         1    RNH        0.990
1918  8503009007  2014         1    RNH        0.990
1919  8503279001  2014         1    RNH        0.990
1920  8503279200  2014         1    RNH        0.990
680   8503280200  2014         2    ND2        1.006
584   8503280300  2014         2    ND1        0.465
679   8503280400  2014         2    ND2        1.006
1287  8506006401  2015         1    RNH        1.712
1922  8506006401  2014         1    RNH        0.990
728   8647184000  2014         2    ND3        2.934
1923  8844518001  2014         1    RNH        0.990
1288  8844518001  2015         1    RNH        1.712

[1941 rows x 5 columns]

## CONEDDemand

In [3]:
from icap.centhud.centhud import CENTHUDDemand
dmd = CENTHUDDemand(conn)

In [5]:
icap = dmd.compute_icap().copy()

In [7]:
icap[icap['PremiseId'] == '1120030000']

,RunDate,ISO,Utility,PremiseId,Year,RateClass,Strata,MeterType,ICap
0,2017-01-30 13:25:47.952538,PJM,CENTHUD,1120030000,2015,2,SD3,DMD,32028.499629

In [6]:
rec = dmd.records_.copy()
util = dmd.util_df_.copy()
lp = dmd.load_profile.copy()

In [7]:
rec = rec[rec['PremiseId'] == '1120030000'].copy()

In [13]:
tmp = pd.merge(rec, util,
        how='left',
        on=['Year', 'RateClass', 'Strata'])

In [14]:
tmp

    PremiseId  Year RateClass Strata  AVGDemand  UtilFactor
0  1120030000  2014         2    SD3      217.1    1.113248

In [15]:
tmp = pd.merge(tmp, lp,
              how='left',
              on=['Strata', 'Year'])

In [16]:
tmp

    PremiseId  Year RateClass Strata  AVGDemand  UtilFactor  AVGHourlyLoad
0  1120030000  2014         2    SD3      217.1    1.113248     132.520996

In [17]:
tmp['ICap'] = tmp['AVGDemand'] * tmp['UtilFactor'] * tmp['AVGHourlyLoad']

# CONEDRecipe

In [18]:
tmp

,PremiseId,Year,RateClass,Strata,AVGDemand,UtilFactor,AVGHourlyLoad,ICap
0,1120030000,2014,2,SD3,217.1,1.113248,142.080002,34338.779666
1,1120030000,2014,2,SD3,217.1,1.113248,142.080002,34338.779666
2,1120030000,2014,2,SD3,217.1,1.113248,132.520996,32028.499629

In [3]:
from icap.results.results import Results
from icap.centhud.centhud import CENTHUDRecipe

In [4]:
r = CENTHUDRecipe(conn, results=Results).run_all()

In [7]:
r.compare_[r.compare_['PremiseId'] == '1120030000']

,RunDate,ISO,Utility,PremiseId,Year,RateClass,Strata,MeterType,ICap,CapacityTagValue,HistVar
0,2017-01-30 12:43:08.436248,PJM,CENTHUD,1120030000,2015,2,SD3,DMD,34338.779666,223.81,15242.826355
2,2017-01-30 12:43:08.436248,PJM,CENTHUD,1120030000,2015,2,SD3,DMD,32028.499629,223.81,14210.575769