# COMED

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import pymssql

from icap.database.icapdatabase import ICapDatabase

In [2]:
fp = 'icap/database/icapdatabase.json'
conn = ICapDatabase(fp).connect()

In [5]:
from icap.comed.comed import COMEDInterval

In [6]:
ci = COMEDInterval(conn)

In [7]:
ci.compute_icap();

In [3]:
from icap.results.results import Results
from icap.comed.comed import COMEDRecipe

COMEDRecipe(conn, Results).run_all().analyze_comparison()

Passing                          False  True  NULL  All
MeterType RateClass Strata Year
INT       C28       C28    2016      0    45    13   58
                           2017      0     0    35   35
          C29       C29    2016      1    42    38   81
                           2017      0     0    82   82
          C30       C30    2016      0     4    16   20
                           2017      0     0    22   22
          C31       C31    2016      0     1     4    5
                           2017      0     0     8    8
          C48       C48    2016      0     1     0    1
                           2017      0     0     1    1
All                                  1    93   219  313

In [3]:
# Initialize excel writer
# Use the writer df.to_excel(writer, 'sheet_name')
writer = pd.ExcelWriter('comed.xlsx')

## Constants from Test Case

In [8]:
# Weather Normalized Peak Load
# Taken from the test case
COMED_NPL = 20900000;
COMED_CUST_DELTA = 1121264;

## Comed CP Avg Peak Load

In [7]:
'''
def get_comed_cp_avg_peak_load(conn: pymssql.Connection) -> pd.DataFrame:
    query = """
        select
            Cast(CPYearID - 1 as int) as Year,
            AVG(ZonalLoad) * 1000 as AvgCPZonalLoad
        from [COMED_CoincidentPeak]
        group by
            Cast(CPYearID - 1 as int)
    """
    return pd.read_sql(query, conn).set_index('Year')

get_comed_cp_avg_peak_load(conn).to_excel(writer, 'comed_cp_avg_peakload')'''

'\ndef get_comed_cp_avg_peak_load(conn: pymssql.Connection) -> pd.DataFrame:\n    query = """\n        select\n            Cast(CPYearID - 1 as int) as Year,\n            AVG(ZonalLoad) * 1000 as AvgCPZonalLoad\n        from [COMED_CoincidentPeak]\n        group by\n            Cast(CPYearID - 1 as int)\n    """\n    return pd.read_sql(query, conn).set_index(\'Year\')\n\nget_comed_cp_avg_peak_load(conn).to_excel(writer, \'comed_cp_avg_peakload\')'

In [10]:
def get_comed_cp_avg_peak_load(conn: pymssql.Connection)-> pd.DataFrame:
    query = """
        select 
            Cast(CPYearId-1 as int) Year,
            Avg(PJMZonalLoad) * 1000 as AvgCPZonalLoad
        from [CoincidentPeak]
        where UtilityId = 'COMED'
        group by
            Cast(CpYearId-1 as int)
    """
    return pd.read_sql(query, conn).set_index('Year')

In [11]:
comed_cp_avg_peak_load = get_comed_cp_avg_peak_load(conn)
comed_cp_avg_peak_load['Step4Diff'] = COMED_NPL - comed_cp_avg_peak_load['AvgCPZonalLoad']

In [12]:
# confirm step 4 difference
comed_cp_avg_peak_load.equals(ci.cp_avg_peak_load)

True

## PJM CP Usage

In [13]:
def get_pjm_cp_usage(conn: pymssql.Connection, premise: str = None) -> pd.DataFrame :
    """Select all records from COMED Hourly
    for PJM coincident peak usage. Filter those values that
    do not possess 5 values per year
    """
    
    # query
    query = """
        select distinct
            h.PremiseId,
            iif(RTrim(p.RateClass)  is null, 'MILES', RTrim(p.RateClass)) as RateClass,
            RTrim(p.DSC) as DSC,
            CAST(cp.CPYearId -1 as INT) as Year, 
            cp.CPDate as CPDatePJM,
            cp.HourEnding as CPHourEnding,
            --cp.HourEnding-1 as ADJCPHourEndingPJM, 
            h.Usage as UsagePJM
        from [COMED_Premise] p
        inner join [HourlyUsage] h on
            p.PremiseId = h.PremiseId
        inner join [CoincidentPeak] cp on
            cp.UtilityId = h.UtilityId and
            cp.CPDate = h.UsageDate and
            cp.HourEnding = h.HourEnding 
        where
            h.UtilityId = 'COMED'
            {prem}
        order by
            h.PremiseId, RateClass, DSC, cp.CPDate
        """
    if premise is not None:
        pjm_cp_query = query.format(prem="and h.PremiseId = '%s'" % premise)
    else:
        pjm_cp_query = query.format(prem="", year="")
    
    # read query
    df = pd.read_sql(pjm_cp_query, conn)
    
    # group by premise
    # create filter for len(usage) != 5
    grp = df.groupby(['PremiseId', 'Year'])['UsagePJM'].agg(
        {'CountPJM': len, 'MeanPJM': np.mean})
    grp.reset_index(inplace=True)
    
    # set `Mean` = np.NaN if `Count` != 5
    missing_data_index = grp[grp['CountPJM'] != 5.0].index
    grp = grp.set_value(missing_data_index, 'MeanPJM', np.nan)
    
    
    
    return pd.merge(df, grp, how='left',
                   on=['PremiseId', 'Year'])

In [12]:
get_pjm_cp_usage(conn).to_excel(writer, 'pjm_cp_usage')

In [13]:
df = get_pjm_cp_usage(conn)

In [14]:
df[df.PremiseId == '1199042022']

,PremiseId,RateClass,DSC,Year,CPDatePJM,CPHourEnding,UsagePJM,MeanPJM,CountPJM
1661,1199042022,MILES,C31,2016,2016-07-25,15.0,740.60,613.692,5.0
1662,1199042022,MILES,C31,2016,2016-07-27,16.0,476.56,613.692,5.0
1663,1199042022,MILES,C31,2016,2016-08-10,16.0,619.22,613.692,5.0
1664,1199042022,MILES,C31,2016,2016-08-11,15.0,589.52,613.692,5.0
1665,1199042022,MILES,C31,2016,2016-08-12,15.0,642.56,613.692,5.0

## COMED CP Usage

In [15]:
def get_comed_cp_usage(conn: pymssql.Connection, premise: str = None) -> pd.DataFrame :
    """Select all records from COMED Hourly
    for COMED coincident peak usage. Filter those values that
    do not possess 5 values per year
    """
    
    # query
    query = """
        select distinct
            h.PremiseId,
            iif(RTrim(p.RateClass)  is null, 'MILES', RTrim(p.RateClass)) as RateClass,
            RTrim(p.DSC) as DSC,
            CAST(cp.CPYearId -1 as INT) as Year, 
            cp.CPDate as CPDateCOMED, 
            cp.HourEnding as CPHourEndingCOMED, 
            h.Usage as UsageCOMED,
            ZonalLoad
        from [HourlyUsage] h
        inner join [COMED_CoincidentPeak] cp on
            cp.UtilityId = h.UtilityId and
            cp.CPDate = h.UsageDate and
            cp.HourEnding = h.HourEnding
        inner join [COMED_Premise] p on
            p.PremiseId = h.PremiseId
        where
            h.UtilityId = 'COMED'
            {prem}
        order by
            h.PremiseId, RateClass, DSC, cp.CPDate
        """
    # format query for single premise
    if premise is not None:
        pjm_cp_query = query.format(prem="and h.PremiseId = '%s'" % premise)
    else:
        pjm_cp_query = query.format(prem="")
    
    # read query
    df = pd.read_sql(pjm_cp_query, conn)
    
    # group by premise
    # create filter for len(usage) != 5
    #df.replace(to_replace=None, value="Miles", inplace=True)
    
    grp = df.groupby(['PremiseId', 'Year', 'RateClass'])['UsageCOMED'].agg(
        {'CountCOMED': len, 'MeanCOMED': np.mean})
    grp.reset_index(inplace=True)
        
    # set `Mean` = np.NaN if `Count` != 5
    missing_data_index = grp[grp['CountCOMED'] != 5.0].index
    grp = grp.set_value(missing_data_index, 'MeanCOMED', np.nan)
    
    return pd.merge(df, grp, how='left',
                   on=['PremiseId', 'Year', 'RateClass'])

In [16]:
get_comed_cp_usage(conn).to_excel(writer, 'comed_cp_usage')

In [17]:
get_comed_cp_usage(conn, premise='1199042022')

,PremiseId,RateClass,DSC,Year,CPDateCOMED,CPHourEndingCOMED,UsageCOMED,ZonalLoad,CountCOMED,MeanCOMED
0,1199042022,MILES,C31,2016,2016-07-11,17.0,587.62,20268.179688,5.0,570.464
1,1199042022,MILES,C31,2016,2016-07-21,18.0,517.93,20296.000000,5.0,570.464
2,1199042022,MILES,C31,2016,2016-08-04,17.0,557.17,20500.960938,5.0,570.464
3,1199042022,MILES,C31,2016,2016-08-11,15.0,589.52,21174.580078,5.0,570.464
4,1199042022,MILES,C31,2016,2016-09-06,17.0,600.08,20949.191406,5.0,570.464

## Load Drop Estimates

In [18]:
def get_comed_load_drop_estimates(conn: pymssql.Connection) -> pd.DataFrame:
    query = """
        select
            Cast(CPYearID -1 as INT) as Year,
            ParameterId,
            (1.0 + ParameterValue/100.0) as LoadDrop
        from [SystemLoad]
        where
            UtilityId = 'COMED' --and
            --ParameterId = 'UFT'
    """
    
    # return pd.read_sql(query, conn).set_index('Year')
    df = pd.read_sql(query, conn)
    return pd.pivot_table(df, index='Year', columns='ParameterId', values='LoadDrop')
get_comed_load_drop_estimates(conn).to_excel(writer, 'load_drop_estimates')

## Utility Factors

In [19]:
def get_comed_utility_factors(conn: pymssql.Connection) -> pd.DataFrame:
    query = """
        select
            Year(StartDate) as Year,
            RTrim(RateClass) as DSC,
            ParameterId, ParameterValue
        from [UtilityParameterValue]
        where
            UtilityId = 'COMED'
            
    """ 
    
    df = pd.read_sql(query, conn)
    
    piv = pd.pivot_table(df, index=['Year', 'DSC'], columns='ParameterId', values='ParameterValue')
    
    return piv.reset_index(level=1)
    
get_comed_utility_factors(conn).to_excel(writer, 'comed_util_factors')

In [20]:
df = get_comed_load_drop_estimates(conn)
#df.reset_index(inplace=True)
#pd.pivot_table(df, columns='ParameterId', values='LoadDrop', index='Year')
df

ParameterId       UFC       UFT
Year
2015         1.022679  1.035657
2016         1.022679  1.035657

In [21]:
def compute_acustcpl(conn:pymssql.Connection, premise: str=None)->pd.DataFrame:
    mean_pjm = get_pjm_cp_usage(conn, premise=premise)[['PremiseId', 'Year', 'DSC', 'MeanPJM']] \
        .drop_duplicates() \
        .reset_index()
        
    # System and util factors index on Year
    util = get_comed_utility_factors(conn)
    sys = pd.DataFrame(get_comed_load_drop_estimates(conn)['UFC'])
    
    # Join `util` and `sys` on Year index
    df = pd.merge(util, sys, left_index=True, right_index=True).reset_index()    
   
    # Join mean usage values with utility/system factors
    df = pd.merge(mean_pjm, df, on=['Year', 'DSC']).drop('index', axis=1)
 
    # Compute the AcustPL value
    df['AcustCPL'] = df['MeanPJM'] * df['DistLossFactor'] * df['TransLossFactor'] * df['UFC'] #df['LoadDrop']
    df.set_index(['PremiseId', 'Year'], inplace=True)
    return df

In [22]:
#pd.DataFrame(get_comed_load_drop_estimates(conn)['UFC'])
compute_acustcpl(conn, premise='1199042022')

,,DSC,MeanPJM,DistLossFactor,TransLossFactor,UFC,AcustCPL
PremiseId,Year,,,,,,
1199042022,2016,C31,613.692,1.0629,1.016,1.022679,677.759958

## Compute AcustPL

In [23]:
def compute_acustpl(conn: pymssql.Connection, premise: str=None)->pd.DataFrame:
    # ComedCP unique mean usage values per year; includes np.NaN
    mean_comed = get_comed_cp_usage(conn, premise=premise)[['PremiseId','Year','DSC','MeanCOMED']] \
        .drop_duplicates() \
        .reset_index()  

    # System and util factors index on Year
    util = get_comed_utility_factors(conn)
    sys = pd.DataFrame(get_comed_load_drop_estimates(conn)['UFT'])
    
    # Join `util` and `sys` on Year index
    df = pd.merge(util, sys, left_index=True, right_index=True).reset_index()    
   
    # Join mean usage values with utility/system factors
    df = pd.merge(mean_comed, df, on=['Year', 'DSC']).drop('index', axis=1)
 
    # Compute the AcustPL value
    df['AcustPL'] = df['MeanCOMED'] * df['DistLossFactor'] * df['TransLossFactor'] * df['UFT']#df['LoadDrop']
    df.set_index(['PremiseId', 'Year'], inplace=True)
    return df

In [24]:
compute_acustpl(conn).to_excel(writer, 'ACustPL')

In [25]:
compute_acustpl(conn, premise='1199042022')

,,DSC,MeanCOMED,DistLossFactor,TransLossFactor,UFT,AcustPL
PremiseId,Year,,,,,,
1199042022,2016,C31,570.464,1.0629,1.016,1.035657,638.014127

## AcustCPL

In [26]:
# Import all usage data for utility or premise
# returns pd.DataFrame indexed on [PremiseId, Year]
pjm_cp_usage = get_pjm_cp_usage(conn) \
    .set_index(['PremiseId', 'Year'])

    
# AcustCPL
# AcustCPL = pjm_cp_usage.MeanPJM * (1.0 + SystemLoad.UFT) * UPV.[DistLossFactor, TransLossFactor]
#AcustCPL = pjm_cp_usage['MeanPJM'].drop_duplicates()
AcustCPL = compute_acustcpl(conn)['AcustCPL']

compute_acustcpl(conn).to_excel(writer, 'ACustCPL')

In [27]:
comed_cp_usage = get_comed_cp_usage(conn) \
    .set_index(['PremiseId', 'Year'])
    
AcustPL = compute_acustpl(conn)['AcustPL']

In [28]:
peak_loads = pd.merge(pd.DataFrame(AcustCPL), pd.DataFrame(AcustPL),
                        left_index=True, right_index=True) #\
                #.rename(columns={'MeanPJM': 'AcustCPL'})


#peak_loads.to_excel(writer, 'peak_loads')

In [29]:
    
df = pd.merge(peak_loads, comed_cp_avg_peak_load, left_index=True, right_index=True)

In [30]:
def step6(r: pd.Series) -> np.float32:
    if r.AcustCPL >= r.AcustPL:
        return r.AcustCPL
    
    return ((r.AcustPL - r.AcustCPL) / COMED_CUST_DELTA ) # *Step4Diff  #+ r.AcustCPL
    
#f['Step6'] = (df['AcustPL'] - df['AcustCPL']) / COMED_CUST_DELTA


def icap(r: pd.Series) -> np.float32:
    if r.AcustCPL == r.Step6:
        return r.AcustCPL
    return r.AcustCPL + r.Step7


df['Step6'] = df.apply(step6, axis=1)
df['Step7'] = df['Step6'] * df['Step4Diff']
 

    

    
#df['ICap'] = df['Step7'] + df['AcustCPL']
df['ICap'] = df.apply(icap, axis=1)
#
#df.to_excel(writer, 'icap')

In [31]:
df.xs('0443154096', level=0)

,AcustCPL,AcustPL,AvgCPZonalLoad,Step4Diff,Step6,Step7,ICap
Year,,,,,,,
2015,327.790434,324.786698,18880660.0,2019340.0,327.790434,6.619203e+08,327.790434

<hr>

## Compare against historical

In [32]:

historical_query = """
    select 
        PremiseId, Cast(CPYearID-1 as INT) Year,
        CapacityTagValue as Historical
    from [CapacityTagHistorical]
    where
        UtilityId = 'COMED'
    """

historical = pd.read_sql(historical_query, conn).set_index(['PremiseId','Year'])

In [33]:
def one_kw(r: pd.Series)-> str:
    if np.abs(r['ICap'] - r['Historical']) <= 1.0:
        return 'true'
    return 'false'

def passing(r: pd.Series) -> np.int32:
    if abs(r.Variance) <= 2.0 or r['1KW'] == 'true':
        return 1
    return 0

compare = pd.merge(df, historical,
         left_index=True, right_index=True, how='left')


compare['Variance'] = (compare['Historical'] - compare['ICap']) / compare['Historical'] * 100
compare['1KW'] = compare.apply(one_kw, axis=1)

compare['Passing'] = compare.apply(passing, axis=1)

/home/miles/miniconda3/envs/justenergy/lib/python3.5/site-packages/ipykernel/__main__.py:2: RuntimeWarning: invalid value encountered in absolute
  from ipykernel import kernelapp as app

In [34]:
compare.ix['9590268008']

,AcustCPL,AcustPL,AvgCPZonalLoad,Step4Diff,Step6,Step7,ICap,Historical,Variance,1KW,Passing
Year,,,,,,,,,,,
2015,101.761441,176.919427,18880660.0,2019340.0,0.000067,1.353557e+02,237.117189,237.1173,0.000047,true,1
2016,164.854017,113.833523,19227060.0,1672940.0,164.854017,2.757909e+08,164.854017,NaN,NaN,false,0

## Output to Excel for analysis

In [35]:
query = "select * from COMED_CoincidentPeak where CPYearID = 2016. order by CPDate"
pd.read_sql(query, conn)

   CPID  CPYearID ISOID      CPDate  HourEnding      UtilityID     ZonalLoad
0     9    2016.0   PJM  2015-07-17        16.0  COMED          19525.496094
1     7    2016.0   PJM  2015-07-28        16.0  COMED          19765.029297
2    10    2016.0   PJM  2015-09-01        17.0  COMED          19424.433594
3     8    2016.0   PJM  2015-09-02        15.0  COMED          19715.060547
4     6    2016.0   PJM  2015-09-03        17.0  COMED          20162.302734

In [36]:
#writer = pd.ExcelWriter('comed.xlsx')
compare.reset_index(inplace=True)
compare.to_excel(writer, 'variances')

#comed_cp_avg_peak_load.to_excel(writer,'avg_peak_loads')

#AcustCPL.to_excel(writer, 'AcustCPL')
#AcustPL.to_excel(writer, 'ACustPL')
#df.to_excel(writer, 'all_data')
writer.save()

In [37]:
#compare.xs('1199042022', level=0)

In [38]:
compare.to_csv(path_or_buf='~/Projects/BusinessLab/JustEnergy/comed.csv')

# Comparing to Test Cases

In [39]:
import pandas as pd

In [40]:
df = pd.read_csv('/home/miles/Dropbox/iCAP_Project/Results/Analysis/comed.csv')

In [41]:
tc1 = '9590268008'

In [42]:
df[df['PremiseId'] == 9590268008]

,Unnamed: 0,PremiseId,Year,AcustCPL,AcustPL,AvgCPZonalLoad,Step4Diff,ICap,Historical,Variance,1KW,Passing
303,303,9590268008,2015,103.052814,176.919427,1.971846e+07,1.181536e+06,180.889995,103.7372,-74.373315,False,0
304,304,9590268008,2016,166.946048,113.833523,2.063778e+07,2.622176e+05,166.946048,237.1173,29.593476,False,0

In [43]:
compare[compare.PremiseId == '0443154096']

,PremiseId,Year,AcustCPL,AcustPL,AvgCPZonalLoad,Step4Diff,Step6,Step7,ICap,Historical,Variance,1KW,Passing
59,0443154096,2015,327.790434,324.786698,18880660.0,2019340.0,327.790434,6.619203e+08,327.790434,327.7904,-0.000011,true,1

In [44]:
compare[compare.PremiseId == '9590268008']

,PremiseId,Year,AcustCPL,AcustPL,AvgCPZonalLoad,Step4Diff,Step6,Step7,ICap,Historical,Variance,1KW,Passing
304,9590268008,2015,101.761441,176.919427,18880660.0,2019340.0,0.000067,1.353557e+02,237.117189,237.1173,0.000047,true,1
305,9590268008,2016,164.854017,113.833523,19227060.0,1672940.0,164.854017,2.757909e+08,164.854017,NaN,NaN,false,0

In [45]:
print(compare.dropna(subset=['Variance']).shape[0])

compare[((compare.Variance <= 2.0) | (compare.Historical - compare.ICap <= 1))].dropna(subset=['Variance']).sort_values(by='Variance').shape[0]

94

93

In [46]:
compare.dropna(subset=['Variance']).sort_values(by='Passing')

,PremiseId,Year,AcustCPL,AcustPL,AvgCPZonalLoad,Step4Diff,Step6,Step7,ICap,Historical,Variance,1KW,Passing
123,1043656025,2015,190.586286,192.495186,18880660.0,2019340.0,1.702454e-06,3.437833e+00,194.024119,208.6073,6.990734,false,0
226,4899012067,2015,85.995648,97.412696,18880660.0,2019340.0,1.018230e-05,2.056153e+01,106.557176,106.5573,0.000116,true,1
224,4842743019,2015,80.581608,76.950505,18880660.0,2019340.0,8.058161e+01,1.627217e+08,80.581608,80.5816,-0.000010,true,1
220,4317412038,2015,77.141976,83.121441,18880660.0,2019340.0,5.332790e-06,1.076872e+01,87.910692,87.9108,0.000123,true,1
214,3972754012,2015,104.080606,108.051736,18880660.0,2019340.0,3.541654e-06,7.151804e+00,111.232410,111.2325,0.000081,true,1
212,3907015055,2015,181.200913,190.040577,18880660.0,2019340.0,7.883660e-06,1.591979e+01,197.120703,197.1209,0.000100,true,1
210,3843017008,2015,90.549457,95.713451,18880660.0,2019340.0,4.605511e-06,9.300093e+00,99.849550,99.8496,0.000050,true,1
208,3709079008,2015,186.266035,173.520894,18880660.0,2019340.0,1.862660e+02,3.761345e+08,186.266035,186.2660,-0.000019,true,1
205,3451167019,2015,12.618520,13.567424,18880660.0,2019340.0,8.462804e-07,1.708928e+00,14.327448,14.3275,0.000363,true,1
194,2787080257,2015,60.841440,67.068641,18880660.0,2019340.0,5.553733e-06,1.121488e+01,72.056315,72.0564,0.000117,true,1
228,4904381026,2015,300.186990,303.364422,18880660.0,2019340.0,2.833795e-06,5.722395e+00,305.909385,305.9096,0.000070,true,1
6,0108142178,2015,375.240448,382.340047,18880660.0,2019340.0,6.331782e-06,1.278602e+01,388.026468,388.0268,0.000085,true,1
186,2642290008,2015,189.390467,184.601294,18880660.0,2019340.0,1.893905e+02,3.824437e+08,189.390467,189.3904,-0.000035,true,1
185,2625068066,2015,50.686504,56.395186,18880660.0,2019340.0,5.091292e-06,1.028105e+01,60.967553,60.9676,0.000077,true,1
180,2216515018,2015,48.520848,49.201529,18880660.0,2019340.0,6.070658e-07,1.225872e+00,49.746720,49.7468,0.000160,true,1
179,2216487019,2015,49.466736,51.604376,18880660.0,2019340.0,1.906455e-06,3.849781e+00,53.316517,53.3166,0.000155,true,1
177,2187117024,2015,277.945548,297.945525,18880660.0,2019340.0,1.783699e-05,3.601895e+01,313.964500,313.9647,0.000064,true,1
175,2108142045,2015,88.889267,97.067155,18880660.0,2019340.0,7.293455e-06,1.472797e+01,103.617232,103.6173,0.000065,true,1
172,2037129063,2015,79.556236,77.379314,18880660.0,2019340.0,7.955624e+01,1.606511e+08,79.556236,79.5562,-0.000045,true,1
170,2036683004,2015,253.155440,247.524100,18880660.0,2019340.0,2.531554e+02,5.112069e+08,253.155440,253.1554,-0.000016,true,1
165,1862646018,2015,42.641112,47.823545,18880660.0,2019340.0,4.621956e-06,9.333301e+00,51.974413,51.9745,0.000167,true,1
188,2771025026,2015,143.981527,122.860940,18880660.0,2019340.0,1.439815e+02,2.907477e+08,143.981527,143.9815,-0.000019,true,1
159,1528217022,2015,30.468816,41.702781,18880660.0,2019340.0,1.001902e-05,2.023181e+01,50.700621,50.7007,0.000156,true,1
230,4965205005,2015,83.280896,88.299197,18880660.0,2019340.0,4.475575e-06,9.037707e+00,92.318603,92.3187,0.000105,true,1
233,5294508003,2015,47.087765,47.008841,18880660.0,2019340.0,4.708777e+01,9.508621e+07,47.087765,47.0878,0.000074,true,1
299,8931366011,2015,302.107549,312.440768,18880660.0,2019340.0,9.215688e-06,1.860961e+01,320.717156,320.7174,0.000076,true,1
297,8768284017,2015,224.991268,236.360114,18880660.0,2019340.0,1.013931e-05,2.047472e+01,245.465986,245.4662,0.000087,true,1
294,8750445042,2015,99.520789,107.103735,18880660.0,2019340.0,6.762855e-06,1.365650e+01,113.177292,113.1774,0.000095,true,1
292,8738194019,2015,104.926136,104.881538,18880660.0,2019340.0,1.049261e+02,2.118815e+08,104.926136,104.9261,-0.000034,true,1
290,8689683018,2015,177.907376,169.808399,18880660.0,2019340.0,1.779074e+02,3.592555e+08,177.907376,177.9073,-0.000043,true,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,0153130093,2015,243.807646,270.860557,18880660.0,2019340.0,2.412716e-05,4.872093e+01,292.528576,292.5288,0.000076,true,1
11,0136667019,2015,59.735232,65.290859,18880660.0,2019340.0,4.954790e-06,1.000540e+01,69.740637,69.7407,0.000090,true,1
10,0132350013,2015,57.811392,60.710433,18880660.0,2019340.0,2.585512e-06,5.221027e+00,63.032419,63.0325,0.000128,true,1
8,0123211012,2015,80.520720,82.449700,18880660.0,2019340.0,1.720362e-06,3.473995e+00,83.994715,83.9948,0.000101,true,1
71,0543158103,2015,9.541044,9.300883,18880660.0,2019340.0,9.541044e+00,1.926661e+07,9.541044,9.5410,-0.000461,true,1
72,0549545002,2015,105.481769,107.052767,18880660.0,2019340.0,1.401095e-06,2.829288e+00,108.311057,108.3111,0.000040,true,1
79,0643075101,2015,67.312356,70.877883,18880660.0,2019340.0,3.179918e-06,6.421335e+00,73.733691,73.7338,0.000148,true,1
87,0699573012,2015,50.699864,51.485316,18880660.0,2019340.0,7.005055e-07,1.414559e+00,52.114423,52.1145,0.000148,true,1
150,1360533018,2015,106.250798,109.223995,18880660.0,2019340.0,2.651648e-06,5.354578e+00,111.605376,111.6055,0.000111,true,1
148,1293077121,2015,18.215113,12.379059,18880660.0,2019340.0,1.821511e+01,3.678251e+07,18.215113,18.2151,-0.000070,true,1
146,1267166022,2015,287.417735,292.773209,18880660.0,2019340.0,4.776283e-06,9.644939e+00,297.062674,297.0629,0.000076,true,1
144,1208060012,2015,93.883392,101.601442,18880660.0,2019340.0,6.883347e-06,1.389982e+01,107.783211,108.2762,0.455307,true,1
142,1204173018,2015,110.909261,107.052767,18880660.0,2019340.0,1.109093e+02,2.239635e+08,110.909261,110.9092,-0.000055,true,1
138,1199623054,2015,55.174128,50.500365,18880660.0,2019340.0,5.517413e+01,1.114153e+08,55.174128,55.1741,-0.000051,true,1
134,1143022192,2015,60.396552,62.440185,18880660.0,2019340.0,1.822615e-06,3.680480e+00,64.077032,64.0771,0.000106,true,1
130,1094277005,2015,196.270121,217.027687,18880660.0,2019340.0,1.851265e-05,3.738333e+01,233.653453,233.6536,0.000063,true,1
128,1061203004,2015,354.687380,385.512283,18880660.0,2019340.0,2.749121e-05,5.551410e+01,410.201478,410.2018,0.000079,true,1
304,9590268008,2015,101.761441,176.919427,18880660.0,2019340.0,6.702970e-05,1.353557e+02,237.117189,237.1173,0.000047,true,1
127,1047186015,2015,44.657136,45.686554,18880660.0,2019340.0,9.180873e-07,1.853930e+00,46.511066,46.5111,0.000072,true,1
118,1017646017,2015,39.703248,42.496289,18880660.0,2019340.0,2.490975e-06,5.030125e+00,44.733373,44.7334,0.000060,true,1
116,0972353021,2015,94.505996,95.901012,18880660.0,2019340.0,1.244146e-06,2.512354e+00,97.018350,97.0184,0.000052,true,1
112,0942259010,2015,110.506628,112.320799,18880660.0,2019340.0,1.617969e-06,3.267230e+00,113.773858,113.7739,0.000037,true,1
109,0926058031,2015,22.590647,23.339586,18880660.0,2019340.0,6.679418e-07,1.348802e+00,23.939448,23.9395,0.000216,true,1
107,0921020019,2015,101.970810,105.417720,18880660.0,2019340.0,3.074129e-06,6.207711e+00,108.178521,108.1786,0.000073,true,1
103,0870196026,2015,90.785668,94.433140,18880660.0,2019340.0,3.253000e-06,6.568913e+00,97.354581,96.9115,-0.457201,true,1
92,0770656016,2015,61.178112,65.339566,18880660.0,2019340.0,3.711395e-06,7.494568e+00,68.672680,68.6727,0.000029,true,1
90,0765138001,2015,81.476795,92.410737,18880660.0,2019340.0,9.751443e-06,1.969148e+01,101.168274,101.1683,0.000025,true,1
88,0707081089,2015,181.190682,182.290734,18880660.0,2019340.0,9.810815e-07,1.981137e+00,183.171820,183.1720,0.000099,true,1
121,1043210038,2015,37.995840,41.059451,18880660.0,2019340.0,2.732284e-06,5.517410e+00,43.513250,43.5133,0.000116,true,1
311,9957034015,2015,79.717116,83.302061,18880660.0,2019340.0,3.197235e-06,6.456305e+00,86.173421,86.1735,0.000092,true,1

In [47]:
93 / 94

0.9893617021276596