In [2]:
%matplotlib inline

# generic
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# custom
from icap.database.icapdatabase import ICapDatabase
from icap.results.results import Results

In [3]:
fp = 'icap/database/icapdatabase.json'
conn = ICapDatabase(fp).connect()

if conn.__class__.__name__ != 'Connection':
    raise Exception('No Connection')

In [3]:
from icap.coned.coned import CONED

In [4]:
c = CONED(conn);

In [8]:
from icap.coned.coned import CONEDRecipe

In [12]:
cr = CONEDRecipe(conn, Results).run_all()

self.monthly:  Index(['RateClass', 'Strata', 'ZoneCode', 'Stratum', 'TOD', 'StartDate',
       'EndDate', 'BilledUsage', 'BilledDemand', 'MeterType', 'MCD',
       'NormUsage', 'MeterLogic', 'MeterRegex'],
      dtype='object')
tmp:  Index(['PremiseId', 'Year', 'RateClass', 'Strata', 'ZoneCode', 'Stratum',
       'TOD', 'StartDate', 'EndDate', 'BilledUsage', 'BilledDemand',
       'MeterType_x', 'MCD', 'NormUsage', 'MeterLogic', 'MeterRegex',
       'ParameterId', 'Zone', 'Factor', 'MeterType_y'],
      dtype='object')

In [14]:
cr.write_comparison_to_csv()
cr.analyze_comparison(write_to_excel=True)

Passing                          False  True  NULL    All
MeterType RateClass Strata Year
CON       2         0      2017      0     0     1      1
                    1297   2016      0     0     1      1
                    236    2015      0     0     1      1
                    237    2016      0     0     1      1
                    238    2017      0     0     1      1
                    34.7   2017      0     0     1      1
                    6298   2017      0     0     1      1
          8         136    2017      0     0     1      1
                    282.7  2017      0     0     1      1
          9         0      2017      0     0     1      1
                    111    2017      0     0     1      1
                    16.1   2017      0     0     1      1
                    23.1   2017      0     0     1      1
                    26.4   2017      0     0     1      1
                    42.7   2017      0     0     1      1
DMD       1         0      2015      1     0     1      2
                           2016      7     0     2      9
                           2017      0     0    13     13
                    1      2017      0     0     1      1
                    10     2016      0     0     1      1
                    10006  2016      1     0     0      1
                    10017  2017      0     0     1      1
                    10018  2017      0     0     1      1
                    10019  2015      1     0     0      1
                    10020  2016      1     0     0      1
                    10024  2015      1     0     0      1
                           2017      0     0     1      1
                    10027  2015      1     0     0      1
                    10029  2017      0     0     1      1
                    10030  2015      1     0     0      1
...                                ...   ...   ...    ...
VTOU      9         14.7   2016      1     0     0      1
                    14.8   2016      0     1     0      1
                    15.7   2015      1     0     0      1
                    16.2   2017      0     0     1      1
                    160.5  2017      0     0     1      1
                    20.2   2015      0     1     0      1
                    22.1   2017      0     0     1      1
                    22.5   2016      1     0     0      1
                    24.9   2015      1     0     0      1
                    240    2017      0     0     1      1
                    29.1   2015      1     0     0      1
                    297761 2015      0     0     1      1
                    325.3  2016      1     0     0      1
                    34     2016      1     0     0      1
                    353.3  2016      1     0     0      1
                    356    2017      0     0     1      1
                    370.7  2015      1     0     0      1
                    384    2017      0     0     1      1
                    394.7  2015      1     0     0      1
                    44.4   2017      0     0     1      1
                    52.8   2015      0     1     0      1
                    55.5   2017      0     0     1      1
                    56.5   2016      0     1     0      1
                    60.3   2015      1     0     0      1
                    62.4   2016      1     0     0      1
                    81.1   2017      0     0     1      1
                    9      2015      1    12     0     13
                           2016      2    10     0     12
                    9.7    2017      0     0     1      1
All                              10122  1790  8700  20612

[14809 rows x 4 columns]

In [8]:

c.temp_var.to_csv(path_or_buf="~/Desktop/temp_var.csv")

# Coned Monthly

In [4]:
from icap.coned.coned import CONEDMonthly

In [5]:
cm = CONEDMonthly(conn)

In [16]:
cm.monthly.ix['494121202700008']

,RateClass,Strata,ZoneCode,Stratum,TOD,StartDate,EndDate,BilledUsage,BilledDemand,MeterType,MCD,NormUsage,MeterLogic,MeterRegex
Year,,,,,,,,,,,,,,
2015,9,197,J,200,50,2015-07-21,2015-08-18,106800.0,204.0,DMD,204,206.22,DMD,[^T]
2016,9,200,J,200,50,2016-07-20,2016-08-17,101600.0,204.0,DMD,194.249,194.249,DMD,[^T]

In [6]:
cm.compute_mcd()

In [7]:
r = cm.compute_icap()

self.monthly:  Index(['RateClass', 'Strata', 'ZoneCode', 'Stratum', 'TOD', 'StartDate',
       'EndDate', 'BilledUsage', 'BilledDemand', 'MeterType', 'MCD',
       'NormUsage', 'MeterLogic', 'MeterRegex'],
      dtype='object')
tmp:  Index(['PremiseId', 'Year', 'RateClass', 'Strata', 'ZoneCode', 'Stratum',
       'TOD', 'StartDate', 'EndDate', 'BilledUsage', 'BilledDemand',
       'MeterType_x', 'MCD', 'NormUsage', 'MeterLogic', 'MeterRegex',
       'ParameterId', 'Zone', 'Factor', 'MeterType_y'],
      dtype='object')

In [17]:
# defaulting to lower bound
r[r['PremiseId'] == '494121202700008'].drop_duplicates()

,RunDate,ISO,Utility,PremiseId,Year,RateClass,Strata,MeterType,ICap
63474,2017-03-28 13:41:08.351254,NYISO,CONED,494121202700008,2016,9,197,DMD,247.356930
63480,2017-03-28 13:41:08.351254,NYISO,CONED,494121202700008,2017,9,200,DMD,235.533171

pandas.core.frame.DataFrame

In [15]:
bill_start, bill_end = cm.monthly.xs(('497501750010008', 2015))[['StartDate', 'EndDate']].values[0]

cm.lst.ix[bill_start: bill_end];
print(bill_start,' ', bill_end)

2015-07-03   2015-08-03

In [9]:
local_lst = pd.merge( cm.temp_var.ix[bill_start : bill_end], cm.lst, 
                    left_index=True, right_index=True, on=['Max', 'DayOfWeek'])

# filter for stratum condition
stratum = float(cm.monthly.xs(('497501750010008', 2015))['Stratum'])
stratum_lower_mask = local_lst['STRAT L BOUND'] <= stratum
stratum_upper_mask = local_lst['STRAT U BOUND'] > stratum
straum_mask = (stratum_lower_mask == 1 ) & (stratum_upper_mask == 1)
print(stratum)

local_filtered = local_lst.ix[straum_mask]

#meter_regex = cm.monthly.xs(('494121202700008', 2015))['MeterRegex']

tod_mask = local_filtered['STRATA'].str.contains('[^T]')
sc_mask = (local_filtered['SC'] == cm.rc_map.ix[9]['Map'])
mask = (tod_mask == 1) & (sc_mask == 1)

final_lst = local_filtered.ix[mask]

200.0

In [10]:
final_lst.sort_values(by='DayOfWeek')

,Max,DayOfWeek,Description,SC,STRATA,STRATA VAR,STRAT L BOUND,STRAT U BOUND,DAYTYPE,TEMP L BOUND,...,KW15,KW16,KW17,KW18,KW19,KW20,KW21,KW22,KW23,KW24
ObservedDate,,,,,,,,,,,,,,,,,,,,,
2015-07-03,71.099999,FRI,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,FRI,71.010002,...,285.769989,281.820007,273.380005,260.290009,242.080002,224.009995,211.570007,202.910004,192.369995,183.529999
2015-07-31,77.391666,FRI,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,FRI,75.010002,...,291.010010,286.540009,277.459991,263.760010,246.169998,232.220001,221.130005,210.380005,200.929993,193.270004
2015-07-24,73.183334,FRI,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,FRI,71.010002,...,285.769989,281.820007,273.380005,260.290009,242.080002,224.009995,211.570007,202.910004,192.369995,183.529999
2015-07-17,72.283333,FRI,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,FRI,71.010002,...,285.769989,281.820007,273.380005,260.290009,242.080002,224.009995,211.570007,202.910004,192.369995,183.529999
2015-07-10,74.091668,FRI,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,FRI,71.010002,...,285.769989,281.820007,273.380005,260.290009,242.080002,224.009995,211.570007,202.910004,192.369995,183.529999
2015-07-27,78.158334,MON,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,MON,75.010002,...,291.010010,286.540009,277.459991,263.760010,246.169998,232.220001,221.130005,210.380005,200.929993,193.270004
2015-07-20,83.508334,MON,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,MON,75.010002,...,291.010010,286.540009,277.459991,263.760010,246.169998,232.220001,221.130005,210.380005,200.929993,193.270004
2015-07-13,76.683334,MON,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,MON,75.010002,...,291.010010,286.540009,277.459991,263.760010,246.169998,232.220001,221.130005,210.380005,200.929993,193.270004
2015-08-03,79.316668,MON,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,MON,75.010002,...,291.010010,286.540009,277.459991,263.760010,246.169998,232.220001,221.130005,210.380005,200.929993,193.270004
2015-07-06,75.608334,MON,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,MON,75.010002,...,291.010010,286.540009,277.459991,263.760010,246.169998,232.220001,221.130005,210.380005,200.929993,193.270004
2015-07-18,78.733334,SAT,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,SAT,75.010002,...,226.539993,223.789993,220.330002,216.330002,211.979996,207.320007,202.949997,197.940002,192.169998,186.410004
2015-08-01,77.333333,SAT,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,SAT,75.010002,...,226.539993,223.789993,220.330002,216.330002,211.979996,207.320007,202.949997,197.940002,192.169998,186.410004
2015-07-04,68.583334,SAT,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,SAT,67.010002,...,197.289993,195.940002,194.229996,191.740005,186.619995,182.320007,178.399994,173.130005,168.419998,163.690002
2015-07-25,75.016668,SAT,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,SAT,75.010002,...,226.539993,223.789993,220.330002,216.330002,211.979996,207.320007,202.949997,197.940002,192.169998,186.410004
2015-07-11,75.166667,SAT,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,SAT,75.010002,...,226.539993,223.789993,220.330002,216.330002,211.979996,207.320007,202.949997,197.940002,192.169998,186.410004
2015-07-05,75.091667,SUN,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,SUN,75.010002,...,226.539993,223.789993,220.330002,216.330002,211.979996,207.320007,202.949997,197.940002,192.169998,186.410004
2015-07-26,78.516667,SUN,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,SUN,75.010002,...,226.539993,223.789993,220.330002,216.330002,211.979996,207.320007,202.949997,197.940002,192.169998,186.410004
2015-07-12,77.508333,SUN,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,SUN,75.010002,...,226.539993,223.789993,220.330002,216.330002,211.979996,207.320007,202.949997,197.940002,192.169998,186.410004
2015-07-19,84.450000,SUN,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,SUN,75.010002,...,226.539993,223.789993,220.330002,216.330002,211.979996,207.320007,202.949997,197.940002,192.169998,186.410004
2015-08-02,76.533333,SUN,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,SUN,75.010002,...,226.539993,223.789993,220.330002,216.330002,211.979996,207.320007,202.949997,197.940002,192.169998,186.410004
2015-07-16,69.408334,THU,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,THU,68.010002,...,277.130005,273.779999,267.250000,253.770004,234.139999,220.600006,209.199997,200.479996,189.570007,180.500000
2015-07-30,79.450000,THU,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,THU,76.010002,...,302.600006,297.089996,289.200012,277.839996,258.609985,242.000000,230.720001,221.130005,207.860001,198.990005
2015-07-09,74.141666,THU,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,THU,73.010002,...,295.190002,289.859985,283.570007,273.959991,253.110001,236.130005,224.570007,213.139999,201.850006,193.509995
2015-07-23,72.833334,THU,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,THU,68.010002,...,277.130005,273.779999,267.250000,253.770004,234.139999,220.600006,209.199997,200.479996,189.570007,180.500000
2015-07-21,79.091667,TUE,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,TUE,76.010002,...,302.600006,297.089996,289.200012,277.839996,258.609985,242.000000,230.720001,221.130005,207.860001,198.990005
2015-07-28,81.708333,TUE,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,TUE,76.010002,...,302.600006,297.089996,289.200012,277.839996,258.609985,242.000000,230.720001,221.130005,207.860001,198.990005
2015-07-14,75.508333,TUE,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,TUE,73.010002,...,295.190002,289.859985,283.570007,273.959991,253.110001,236.130005,224.570007,213.139999,201.850006,193.509995
2015-07-07,79.800000,TUE,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,TUE,76.010002,...,302.600006,297.089996,289.200012,277.839996,258.609985,242.000000,230.720001,221.130005,207.860001,198.990005
2015-07-22,73.125000,WED,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,WED,73.010002,...,295.190002,289.859985,283.570007,273.959991,253.110001,236.130005,224.570007,213.139999,201.850006,193.509995
2015-07-08,79.675001,WED,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,WED,76.010002,...,302.600006,297.089996,289.200012,277.839996,258.609985,242.000000,230.720001,221.130005,207.860001,198.990005
2015-07-15,75.433333,WED,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,WED,73.010002,...,295.190002,289.859985,283.570007,273.959991,253.110001,236.130005,224.570007,213.139999,201.850006,193.509995
2015-07-29,82.291667,WED,SC 09 - C&I LARGE GENERAL SERVICE,9,E,AVG JUN-SEP KW,200,500,WED,76.010002,...,302.600006,297.089996,289.200012,277.839996,258.609985,242.000000,230.720001,221.130005,207.860001,198.990005

In [11]:
final_lst.shape

(32, 35)

In [12]:
cm.temp_var.ix[bill_start:bill_end].shape

(32, 2)

## Temp Variant Testing

In [3]:
temp_station_query = """select
                RTrim(StationCode) as StationCode,
                ObservedDate, --Hour,
                Temperature, WetBulbTemperature
            from CONED_NYWeatherData
            order by
                ObservedDate"""

ts = pd.read_sql(temp_station_query, conn)

In [16]:
ts.head();

In [4]:
"""
Hourly Average:
    WetBulbTemperature = WBT; Temperature = T;
    
    for hour in ObservedDate:
        hourly_avg[i] = 0.25 * (KNYC_WBT + KNYC_T + KLGA_WBT + KLGA_T)

"""
hourly_avg = pd.pivot_table(ts, index='ObservedDate', 
               columns='StationCode', 
               values=['Temperature', 'WetBulbTemperature'],
                    ).mean(1)

hourly_avg['2015-05-01 09:00:00':'2015-05-01 21:00:00']

ObservedDate
2015-05-01 09:00:00    49.049999
2015-05-01 10:00:00    49.875000
2015-05-01 11:00:00    50.500000
2015-05-01 12:00:00    51.825000
2015-05-01 13:00:00    53.325000
2015-05-01 14:00:00    54.049999
2015-05-01 15:00:00    54.900000
2015-05-01 16:00:00    53.450000
2015-05-01 17:00:00    52.425001
2015-05-01 18:00:00    50.300000
2015-05-01 19:00:00    48.650000
2015-05-01 20:00:00    48.099998
2015-05-01 21:00:00    46.900000
dtype: float64

In [5]:
pd.pivot_table(ts, index='ObservedDate',
              columns='StationCode',
              values=['Temperature', 'WetBulbTemperature'])['2015-05-01 09:00:00':'2015-05-01 21:00:00']

                    Temperature            WetBulbTemperature
StationCode                KLGA       KNYC               KLGA       KNYC
ObservedDate
2015-05-01 09:00:00   51.099998  53.099998          46.000000  46.000000
2015-05-01 10:00:00   53.099998  54.000000          46.400002  46.000000
2015-05-01 11:00:00   54.000000  55.000000          46.400002  46.599998
2015-05-01 12:00:00   55.900002  55.000000          49.099998  47.299999
2015-05-01 13:00:00   55.900002  60.099998          47.700001  49.599998
2015-05-01 14:00:00   57.900002  60.099998          48.599998  49.599998
2015-05-01 15:00:00   59.000000  61.000000          49.599998  50.000000
2015-05-01 16:00:00   57.000000  59.000000          48.700001  49.099998
2015-05-01 17:00:00   55.900002  57.900002          47.700001  48.200001
2015-05-01 18:00:00   54.000000  54.000000          46.799999  46.400002
2015-05-01 19:00:00   52.000000  52.000000          45.500000  45.099998
2015-05-01 20:00:00   51.099998  51.099998          45.099998  45.099998
2015-05-01 21:00:00   50.000000  48.900002          44.599998  44.099998

In [33]:
"""
Rolling Average:
    1. Group hourly average into days
    2. Rolling mean over 3 hour window
    3. Take maximum average per day
"""
daily_max_avg = hourly_avg.groupby(pd.TimeGrouper('D')
                  ).rolling(window=3).mean().max(level=0)

In [34]:
"""
Rolling Weighted Sum:
    The weighted sum is applyed to 3 day rolling window.
    The current day weight is 70%, day-1 is 20%, day-2 is 10%.
    
    weights = [0.1, 0.2, 0.7]
    day[i-2], day[i-1], day[i] = weights 


"""
# helper function to compute weighted sum
def f(w):
    def g(x):
        return (w * x).sum()
    return g

# Weights
wts = np.array([.1, .2, .7])

# Apply rolling weighted summation
daily_max_avg.rolling(window=3).apply(f(wts));



daily_max_avg['2015-05-01']

54.133332888285317

In [7]:
# CONVERSIONS
# convert hour into timedelta
# increment `ObservedDate` by correspoding Timedelta
# drop the `Hour` columns
ts['Hour'] = ts['Hour'].apply(lambda x: pd.Timedelta(hours=x))
ts['ObservedDate'] = ts['ObservedDate'] + ts['Hour']
td = ts.drop('Hour', axis=1)

KeyError: 'Hour'

In [ ]:
# update index
#td.set_index('ObservedDate', inplace=True)
ts.set_index('ObservedDate', inplace=True)
ts.drop('Hour', axis=1, inplace=True)

In [ ]:
ts.head()

In [ ]:
# AGGREGATION
# Station_i : sum = temperature + wetbulbtemperature

#td['RowSum'] = td.sum(axis=1)
ts['RowSum'] = ts.sum(axis=1)

In [ ]:
knyc = td[td['StationCode'] == 'KNYC']
klga = td[td['StationCode'] == 'KLGA']

In [ ]:
knyc.head()

In [ ]:
klga.head()

In [ ]:
ts.drop(['Temperature', 'WetBulbTemperature'], axis=1
       ).pivot(columns='StationCode', values='RowSum')

In [ ]:
# drop columns aggregated in `RowSum`
# pivot stations into columns
# avg: (Station_i:RowSum) + (Station_j:RowSum) * (1/4)
hr_avg = td.drop(['Temperature', 'WetBulbTemperature'], axis=1
                 ).pivot(columns='StationCode', values='RowSum'
                         ).apply(lambda row: row.sum() * .25, axis=1)

--

In [ ]:
from icap.coned.coned import CONEDRecipe
c = CONEDRecipe(conn=conn, results=Results).run_all()

In [ ]:
c.write_comparison_to_csv()
c.analyze_comparison(write_to_excel=True)

## CONED Interval

In [ ]:
%%time
from icap.coned.coned import CONEDInterval
c = CONEDInterval(conn)

In [ ]:
c.hourly.head().columns

In [ ]:
from icap.results.results import Results
r = Results(conn,c.compute_icap())

In [ ]:
r.analyze_comparison()

In [ ]:
hourly_cp = c.get_hourly_cp()

In [ ]:
??c.meter_logic

In [ ]:
hourly_rec = c.get_hourly()

In [ ]:
hourly_query = """
    select
        h.PremiseId,
        p.RateClass, ce.[Service Classification],
        ce.[Zone Code] as ZoneCode,
        ce.[Stratum Variable] as Stratum,
        ce.[Time of Day Code] as TOD,
        Year(m.EndDate) as Year,
        DateAdd(day, 0,  m.StartDate) as StartDate,
        m.EndDate,
        m.Usage as BilledUsage,
        m.Demand as BilledDemand,
        Round(Sum(h.Usage), 0) as CPHourUsage,
        'INT' as MeterType,
        iif(Abs((m.Usage-Sum(h.Usage))/m.Usage)<=0.04, 1, 0) as VarTest
    from [HourlyUsage]  h
    inner join [MonthlyUsage]  m
        on m.PremiseId = h.PremiseID
        and m.UtilityID = h.UtilityId
    inner join CoincidentPeak as cp
        on cp.UtilityId = h.UtilityId
        and Year(cp.CPDate) = Year(m.EndDate)
        and (cp.CPDate between m.StartDate and m.EndDate)
        and (h.UsageDate between m.StartDate and m.EndDate)
    inner join Premise as p
        on p.PremiseId = h.PremiseId
    inner join ConED as ce
        on CAST(ce.[Account Number] as varchar) = h.PremiseId
    where
        h.UtilityId = 'CONED'
        and h.HourEnding between 1 and 24
    group by
        h.PremiseId, MeterType,
        p.RateClass, ce.[Service Classification],
        ce.[Zone Code], ce.[Stratum Variable], ce.[Time of Day Code],
        Year(m.EndDate),
        m.StartDate, m.EndDate,
        m.Usage,
        m.Demand
    having
        Count(h.Usage) = (DateDiff(hour, m.StartDate, m.EndDate) + 24)
        """
# obtain data; set defaults; converions
df = pd.read_sql(hourly_query,conn)

In [ ]:
df.head()

In [ ]:
df['MCD'] = np.NaN
df['NormUsage'] = np.NaN
df['TOD'] = df['TOD'].apply(lambda x: np.int(x))

In [ ]:
# create multi-index; sort
df.set_index(['PremiseId', 'Year'], inplace=True)
df.sort_index(inplace=True)

In [ ]:
df

In [ ]:
# determine meter type
df['MeterLogic'] = df.apply(self.meter_logic, axis=1)
df['MeterRegex'] = df['MeterLogic'].apply(tod_regex)

In [ ]:
r = Results(conn, c.compute_icap())

In [ ]:
r.analyze_comparison()

### Interval Varinace <= 4%

In [ ]:
# select MCD; Usage[CP_date, CP_hour]
tmp = pd.merge(c.varTrue.reset_index(), c.hourly_cp, 
        how='left',
        on=['PremiseId', 'Year'])

In [ ]:
tmp2 = pd.merge(tmp, c.util,
        how='left',
        left_on=['Year', 'ZoneCode'],
        right_on=['Year', 'Zone'])

In [ ]:
match_mask = tmp2['MeterLogic'] == tmp2['MeterType_y']
all_mask = tmp2['MeterType_y'] == 'ALL'
mask = (match_mask == 1) | (all_mask == 1)

tmp2['Factor'] = tmp2['Factor'].apply(lambda x: x + 1.0)


tmp2['MCD'] = tmp2['Usage']
tmp2.ix[mask].groupby(['PremiseId', 'Year', 'RateClass', 'MeterLogic']).apply(coned_icap)

In [ ]:
tmp2['Factor'] = tmp2['Factor'].apply(lambda x: x + 1.0)

In [ ]:
c.__dict__.keys()

In [ ]:
def coned_icap(g):
    mcd = g['Usage'].values
    stf = g[g['ParameterId'] == 'SubzoneTrueupFactor']['Factor'].values
    ftf = g[g['ParameterId'] == 'ForecastTrueupFactor']['Factor'].values
    try:
        icap = mcd[0] * stf[0] * ftf[0]
    except IndexError:
        icap = np.nan
    return icap

In [ ]:
tmp2.groupby(['PremiseId', 'Year', 'RateClass']).apply(coned_icap)

## CONED Monthly

In [ ]:
%%time
from icap.coned.coned import CONEDMonthly
c = CONEDMonthly(conn=conn)

In [ ]:
%%time
c.compute_mcd()

In [ ]:
icap = c.compute_icap()

In [ ]:
icap.head()

In [ ]:
r = Results(conn, icap)

In [ ]:
r.analyze_comparison(write_to_excel=True)

In [ ]:
results = r.compare_.copy()

In [ ]:
null_idx = results[pd.isnull(results['HistVar'])].index
valid_idx = results[results['HistVar'] <= 2.0].index
invalid_idx = results[results['HistVar'] > 2.0].index

In [ ]:
# assign values to outcomes on their index
results['Valid'] = ''
results.set_value(null_idx, 'Valid', 'NULL')
results.set_value(invalid_idx, 'Valid', 0)
results.set_value(valid_idx, 'Valid', 1)

In [ ]:
# aggregate and count
details = results.groupby(['MeterType', 'Year', 'RateClass',
                           'Strata', 'Valid']
                          )[['ICap', 'CapacityTagValue']].count()

In [ ]:
details

In [ ]:
comp = r.compare_.copy()
null_idx = comp[pd.isnull(comp['HistVar'])].index
valid_idx = comp[comp['HistVar'] <= 2.0].index
invalid_idx = comp[comp['HistVar'] > 2.0].index

In [ ]:
comp.ix[valid_idx].shape

In [ ]:
comp.ix[invalid_idx].shape

In [ ]:
r.analyze_comparison()

In [ ]:
def is_tod(rate_class):
    """Returns proper REGEX based on rate class. Meters can be either
    TIME OF DAY (if TODQ == 1 then 'Ta
') or 
    NOT TIME OF DAY (if TODQ == 0 then '[^T]')
    
    if c.rc_map.ix[rate_class]['TODQ']:
        return 'T'
    return '[^T]'
    """
    if meter_logic == 'VTOU':
        return 'T'
    return '[^T]'

In [ ]:
# Query the Load Shape Adjustment Table
lst_qry = "select * from CONED_LoadShapeTempAdj where Strata != ''"
lst = pd.read_sql(lst_qry, conn)

## OPTIMIZING THE LOAD PROFILE PROCESS
# 1) Merge the  Load Shape Adjustment Table with Temperature Variants on
#    the DAY[TYPE, OfWeek] columns. 
# 2) Then filter the table where [TEMP L BOUND] <= Max <= [TEMP U Bound]
tmp = pd.merge(lst, c.temp_var.reset_index(), left_on='DAYTYPE', right_on='DayOfWeek')
tmp = tmp[(tmp['TEMP L BOUND'] <= tmp['Max']) & (tmp['Max'] <= tmp['TEMP U BOUND'])]

In [ ]:
tmp.sort_values(by=['ObservedDate'])
tmp2 = tmp.set_index('ObservedDate')

In [ ]:
from datetime import datetime
from itertools import islice

"""When BilledDemand == 0, the MCD calculation chooses the zero value instead of
NormalizedUsage. Any location where a zero occurs is replaced with np.inf. This
ensures that when BilledDemand has a zero value, the NormalizedValue is selected
"""
c.monthly.replace(to_replace=0, value=np.inf, inplace=True)
c.monthly.head()

In [ ]:
"""
Metered Coincident Demand (MCD)

MCD is computed differently for all three meter types. 
    METERTYPE:
        CON: MCD = Normalized Usage
        DMD: MCD = min(normalized usage, billed demand)
        INT: if variance < 4% then MCD = Usage on CPDayHour
             else MCD = min(normalized usage, billed demand)
"""
from datetime import datetime
from itertools import islice
error_counts = 0
rec_count = 0
start_time = datetime.now()


for rec in c.monthly.itertuples():
    
    # Parse the record index
    prem, year = rec[0]
    
    # Parse record
    rate_class, strata, zone, stratum, tod, \
    bill_start, bill_end, usage, demand, \
    meter_type, mcd, normalized_usage, \
    meter_logic, meter_regex = rec[1:]
    
    rate_class = int(rate_class)
   
    # Service class mapping
    service_class = c.rc_map.ix[rate_class]['Map']    
    
    # Slice billcycle from temperature variants
    billcycle = c.temp_var.ix[bill_start:bill_end]
    
    # Join bill cycle with modified LoadShapeAdjustmentTable (LST)
    local_lst = pd.merge(billcycle, c.lst, 
                        left_index=True, right_index=True, # index = ObservedDate
                        on=['Max', 'DayOfWeek'])

    # Filter for Straum condition
    local_lst = local_lst[(local_lst['STRAT L BOUND'] <= float(stratum)) & 
                          (float(stratum) <= local_lst['STRAT U BOUND'])]
    
   
    # Filter for TimeOfDay meter type and Service Class Mapping
    tod_mask = local_lst['STRATA'].str.contains(meter_regex)
    sc_mask = (local_lst['SC'] == c.rc_map.ix[rate_class]['Map'])
    mask = (tod_mask == 1) & (sc_mask == 1)
    local_lst = local_lst.ix[mask]
    
    # Check to ensure proper filtering has occurred
    if local_lst.shape[0] != billcycle.shape[0]:
        error_counts += 1
        continue
    
    # Extract the kiloWatt hour columns
    kw_cols = [col for col in local_lst.columns if 'KW' in col]
    local_lst = local_lst[kw_cols]
    
    # Convert coincident peak information into usable keys
    # Compute the Customer Scaling Factor
    # Extract the Load Profile from the billing cycle
    # Compute the normalized usage
    cp_day, hr = c.cp.ix[str(year)]
    csf = usage / local_lst.values.sum()
    load_profile = local_lst.ix[cp_day]['KW' + str(hr)]
    normalized_usage = load_profile * csf
  
    
    ## MCD ##
    # if 'DMD' then MCD = min(normalized_usage, billed_demand)
    # if 'CON' then MCD = normalized_usage
    if meter_type == 'DMD':
        mcd = np.minimum(normalized_usage, demand)
    else:
        mcd = normalized_usage
        
    # Update the monthly usage values
    c.monthly.loc[(prem, year), ['NormUsage', 'MCD']
                 ] = [normalized_usage, mcd]

    
    
    rec_count += 1
    if rec_count % 1000 == 0:
        print('Current: %d Percent: %.4f Errors: %d' %(
                rec_count, rec_count / c.monthly.shape[0], error_counts))


## Timing
elapsed_time = datetime.now() - start_time

print('Total Time: %s' % elapsed_time)
print('Average Time: %f' % (elapsed_time.total_seconds() / rec_count) )

In [ ]:
c.monthly

In [ ]:
tmp = pd.merge(c.monthly.reset_index(), c.util,
        how='left',
        left_on=['Year', 'ZoneCode'],
        right_on=['Year', 'Zone'])

In [ ]:
%%time 

tmp['Factor'] = tmp['Factor'].apply(lambda x: 1.0 + x)

match_mask = tmp['MeterType_x'] == tmp['MeterType_y']
all_mask = tmp['MeterType_y'] == 'ALL'
mask = (match_mask == 1) | (all_mask == 1)

def coned_icap(g):
    #if g['ParameterId'].shape[0] != 2: # Subzone and Forecast Trueup Factors
    #    return np.nan
    #normalized_usage = g['MCD'].ix[0]
    mcd = g['MCD'].values[0]
    stf = g[g['ParameterId'] == 'SubzoneTrueupFactor']['Factor'].values[0]
    ftf = g[g['ParameterId'] == 'ForecastTrueupFactor']['Factor'].values[0]
    icap = mcd * stf * ftf

    return mcd * stf * ftf

In [ ]:
icap = tmp.ix[mask].groupby(by=['PremiseId', 'Year', 'RateClass', 'MeterType_x', 'MeterLogic']
                    ).apply(coned_icap).reset_index()

In [ ]:
icap[icap['PremiseId'] == '494141010200009']

In [ ]:
icap[icap['PremiseId'] == '700536121000000']

In [ ]:
historic = pd.read_sql("select * from CapacityTagHistorical where UtilityId = 'CONED'", conn)

In [ ]:
icap['Year'] = icap['Year'].apply(lambda x: x + 1)

In [ ]:
tmp = pd.merge(icap, historic, 
         left_on=['PremiseId', 'Year'],
        right_on=['PremiseID', 'CPYearID'])
tmp.rename(columns={0:'ICap'}, inplace=True)

tmp['Variance'] = (tmp['CapacityTagValue'] - tmp['ICap']) / tmp['CapacityTagValue'] * 100.

In [ ]:
tmp['Valid'] = 0
valid_idx = tmp[tmp['Variance'] <= 2.0].index
tmp.set_value(valid_idx, 'Valid', 1)

tmp.groupby(['MeterType_x', 'Year', 'RateClass', 'Valid']
           )[['ICap', 'CapacityTagValue']].count()