In [1]:
%matplotlib inline

import numpy as np
import pandas as pd

from icap.pseg.pseg import PSEGConsumption
from icap.pseg.pseg import PSEGInterval
from icap.pseg.pseg import PSEGDemand
from icap.database.icapdatabase import ICapDatabase
from icap.results.results import Results

from icap.pseg.pseg import PSEGRecipe

## Run All PSEG

In [2]:
fp = './icap/database/icapdatabase.json'
conn = ICapDatabase(fp).connect()

In [3]:
pseg = PSEGRecipe(conn, Results).run_all()

In [4]:
pseg.write_comparison_to_csv()
pseg.analyze_comparison(write_to_excel=True)

                                       RecipeICap  CapacityTagValue
MeterType Year RateClass Strata Valid
CON       2015 HS        NA     0              12                12
                                1               1                 1
                                NULL            2                 0
               RHS       NA     0               2                 2
                                1               1                 1
               RLM       NA     0               4                 4
                                NULL            2                 0
               RS        NA     0              97                97
                                1              12                12
                                NULL           36                 0
          2016 HS        NA     0               3                 3
                                1              11                11
                                NULL           11                 0
               RHS       NA     1               2                 2
                                NULL            1                 0
               RLM       NA     1               3                 3
                                NULL           13                 0
               RS        NA     0              20                20
                                1             278               278
                                NULL          121                 0
DMD       2016 BPL       NA     NULL           32                 0
               GLP-INT   NA     0               1                 1
               GLP-NON   NA     0             433               433
                                1            1669              1669
                                NULL         3298                 2
               HS        NA     NULL            1                 0
               LPLP      NA     NULL            9                 0
               LPLS-NON  NA     0               1                 1
                                NULL          222                 0
               PSAL      NA     NULL           85                 0
               RS        NA     NULL            1                 0
INT       2015 GLP-INT   NA     0              20                20
                                1               1                 1
                                NULL            1                 4
               LPLP      NA     0              25                25
                                1               1                 1
                                NULL            4                 5
               LPLS-INT  NA     0             114               114
                                1              24                24
                                NULL           30                67
               LPLS-NON  NA     NULL           10                 0
          2016 GLP-INT   NA     0               6                 6
                                1              10                10
                                NULL            2                23
               LPLP      NA     1              15                15
                                NULL            5                13
               LPLS-INT  NA     0               2                 2
                                1             125               125
                                NULL           46               167
               LPLS-NON  NA     0               1                 1
                                1               2                 2
                                NULL           12                 0

In [ ]:
pseg.compare_

In [ ]:
pseg.write_comparison_to_csv()
pseg.analyze_comparison(write_to_excel=True)

In [ ]:
pseg.compare_[pseg.compare_['PremiseId'] == 'PE000009609896730392']

In [ ]:
pseg.compare_.drop_duplicates().shape

In [ ]:
pseg.compare_

### Determine % Valid

In [ ]:
# indices of valid recipe icap
valid_idx = r[r['HistVar'] <= 2.0].index

# set all indices to False; update valid indices to True
r['Valid'] = 0
r.set_value(valid_idx, 'Valid', 1)

# group and count; give percent valid
v = r.dropna(subset=['HistVar']).groupby('Valid')['Valid'].count()

# percent correct with NaN dropped
v.iloc[1] / v.sum()

***

46.5% before adapting consumption/demand

## Interval Test

In [ ]:
interval = PSEGInterval(conn, premise='PE000011920969080047').compute_icap()

In [ ]:
r = Results(conn, interval).compare_historical()

In [ ]:
r

## Consumption Test

5457

In [ ]:
premise='PE000010659852776129'
batch = PSEGConsumption(conn, premise=premise)
r = Results(conn, batch.compute_icap()).compare_historical()

r

## Demand Test

In [ ]:
dmd = PSEGDemand(conn, premise='PE000007932336623641').compute_icap()

In [ ]:
r = Results(conn, dmd).compare_historical()

In [ ]:
r

In [ ]:
av = pd.concat([dmd, r, interval]);

## Result testing

In [ ]:
from icap.results.results import Results

In [ ]:
r = Results(conn, av)
comp = r.compare_historical()
print(comp.shape)
print(comp.dropna(axis=0).shape)
print(comp[comp['HistVar'] <= 2.0].shape)

In [ ]:
r = Results(conn, av)
r.write_to_csv()