# CENTHUD

In [1]:
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np


from icap.results.results import Results
from icap.database.icapdatabase import ICapDatabase

In [2]:
fp = 'icap/database/icapdatabase.json'
conn = ICapDatabase(fp).connect()

## CENTHUD (super)

In [3]:
from icap.centhud.centhud import CENTHUD
from icap.centhud.centhud import CENTHUDRecipe

In [27]:
c = CENTHUDRecipe(conn, Results).run_all()

In [39]:
# c.write_comparison_to_csv()
c.analyze_comparison(write_to_excel=True)
c.write_comparison_to_csv()

# c.compare_[c.compare_['PremiseId'] == '1222106000']
# c.compare_.dropna(subset=['HistoricalICap']).sort_values(by=['RecipeVariance'])

In [40]:
c.analyze_comparison()

Passing                          False  True  NULL   All
MeterType RateClass Strata Year
CON       1         RHT    2015     35     3     3    41
                           2016     36     0     0    36
                    RNH    2015    466     9    94   569
                           2016    395     0    16   411
          2         ND1    2015    175     1     0   176
                           2016      3   137     3   143
                    ND2    2015     40     0     0    40
                           2016     24     0     0    24
                    ND3    2015     12     1     0    13
                           2016     10     0     0    10
                    RNH    2015      2     0     0     2
                           2016      2     0     0     2
          6         TH2    2015      1     0     0     1
                           2016      1     0     0     1
                    TN1    2015      3     0     0     3
                           2016      4     0     0     4
                    TN2    2015      1     0     0     1
DMD       2         LGP    2015      0     0     5     5
                    ND1    2015      0     0     1     1
                           2017      0     0     1     1
                    ND2    2015      1     0     0     1
                           2016      1     0     0     1
                           2017      0     0     2     2
                    ND3    2015      1     0     0     1
                           2016      1     0     1     2
                           2017      0     0     1     1
                    SD1    2015      3     0     0     3
                           2016      1     0     5     6
                           2017      0     0     7     7
                    SD2    2015      0     0    12    12
                           2016      2     0     4     6
                           2017      0     0     6     6
                    SD3    2015      2     0     3     5
                           2016      2     0     2     4
                           2017      0     0     5     5
          3         LGP    2016      0     0     1     1
                           2017      0     0     1     1
          6         ND3    2017      0     0     1     1
                    SD1    2017      0     0    14    14
All                               1224   151   188  1563

## CENTHUDConsumption

In [6]:
from icap.centhud.centhud import CENTHUDConsumption
con = CENTHUDConsumption(conn)

In [7]:
rec = con.records_.copy()
util = con.util_df_.copy()
sys = con.sys_df_.copy()

In [8]:

tmp = pd.merge(rec, util,
        how='left',
        on=['Year', 'Strata'])


tmp_2 = pd.merge(tmp, sys,
                how='left', on=['Year'])



#pd.crosstab([tmp_2['Year'], tmp_2['Strata']], tmp_2['UtilityFactor'], dropna=False,margins=True)
tmp_2['ICap'] = tmp_2['LoadProfile'] * tmp_2['UsageFactor'] * tmp_2['UtilityFactor']
tmp_2.drop_duplicates(inplace=True)

In [9]:
tmp_2[tmp_2['PremiseId'] == '1222106000']

,PremiseId,Year,RateClass_x,Strata,LoadProfile,UsageFactor,EffectiveStartDate,EffectiveStopDate,CPDate,CPYearId,RateClass_y,UtilityFactor,VoltageLoss,ICap
41,1222106000,2014,2,ND1,0.491,2.11184,2015-07-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,1.122355
42,1222106000,2015,2,ND1,0.790,2.09177,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,1.788664

In [10]:
tmp_2.drop('RateClass_y', axis=1)
tmp_2.rename(columns={'RateClass_x':'RateClass'})

,PremiseId,Year,RateClass,Strata,LoadProfile,UsageFactor,EffectiveStartDate,EffectiveStopDate,CPDate,CPYearId,RateClass_y,UtilityFactor,VoltageLoss,ICap
0,1107096000,2014,2,ND1,0.491,2.21385,2015-06-01,2016-02-01,2014-09-02,2015.0,2,1.0824,1.042,1.176569
1,1107096000,2015,2,ND2,1.692,0.80741,2016-02-01,None,2015-07-29,2016.0,2,1.0824,1.042,1.478707
2,1110106000,2014,1,RNH,1.073,1.30111,2015-06-01,2016-02-01,2014-09-02,2015.0,2,1.0824,1.042,1.511129
3,1110106000,2014,1,RNH,1.073,1.34675,2015-02-01,2015-06-01,2014-09-02,2015.0,2,1.0824,1.042,1.564136
4,1123147000,2014,1,RNH,1.073,1.21792,2015-06-01,2016-04-01,2014-09-02,2015.0,2,1.0824,1.042,1.414511
5,1123168000,2014,1,RNH,1.073,1.75122,2015-02-01,2015-06-01,2014-09-02,2015.0,2,1.0824,1.042,2.033893
6,1123168000,2014,1,RNH,1.073,2.07740,2015-06-01,2016-04-01,2014-09-02,2015.0,2,1.0824,1.042,2.412724
7,1137040001,2014,1,RNH,1.073,0.79275,2015-06-01,2016-04-01,2014-09-02,2015.0,2,1.0824,1.042,0.920712
8,1137040001,2015,1,RNH,1.767,0.74595,2016-04-01,None,2015-07-29,2016.0,2,1.0824,1.042,1.426705
9,1138162000,2014,1,RNH,1.073,0.29931,2015-06-01,2016-04-01,2014-09-02,2015.0,2,1.0824,1.042,0.347623
10,1138162000,2015,1,RNH,1.767,0.22679,2016-04-01,None,2015-07-29,2016.0,2,1.0824,1.042,0.433759
11,1145037000,2014,1,RHT,1.110,0.13053,2015-06-01,2016-04-01,2014-09-02,2015.0,2,1.0824,1.042,0.156827
12,1145037000,2015,1,RHT,1.721,0.13729,2016-04-01,None,2015-07-29,2016.0,2,1.0824,1.042,0.255745
13,1145268000,2014,1,RNH,1.073,0.72307,2015-06-01,2016-04-01,2014-09-02,2015.0,2,1.0824,1.042,0.839784
14,1145268000,2015,1,RNH,1.767,0.71419,2016-04-01,None,2015-07-29,2016.0,2,1.0824,1.042,1.365960
15,1151250000,2014,1,RNH,1.073,0.59964,2015-06-01,2016-04-01,2014-09-02,2015.0,2,1.0824,1.042,0.696431
16,1151250000,2014,1,RNH,1.073,0.61198,2015-02-01,2015-06-01,2014-09-02,2015.0,2,1.0824,1.042,0.710763
17,1154242000,2014,1,RHT,1.110,1.62811,2015-06-01,2016-04-01,2014-09-02,2015.0,2,1.0824,1.042,1.956116
18,1154242000,2015,1,RHT,1.721,1.89902,2016-04-01,None,2015-07-29,2016.0,2,1.0824,1.042,3.537514
19,1160032000,2014,1,RNH,1.073,1.25456,2015-05-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,1.457065
20,1160032000,2015,1,RNH,1.767,1.16431,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,2.226860
21,1170049000,2014,1,RNH,1.073,1.01466,2015-05-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,1.178441
22,1170049000,2015,1,RNH,1.767,0.77012,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,1.472932
23,1172034000,2014,1,RNH,1.073,0.39856,2015-01-01,2015-05-01,2014-09-02,2015.0,2,1.0824,1.042,0.462894
24,1172034000,2014,1,RNH,1.073,0.47004,2015-05-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,0.545912
25,1172170000,2014,1,RHT,1.110,0.31986,2015-05-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,0.384300
26,1172170000,2015,1,RHT,1.721,0.31163,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,0.580508
27,1178173000,2014,1,RNH,1.073,0.48290,2015-07-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,0.560847
28,1178173000,2015,1,RNH,1.767,0.41476,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,0.793270
29,1180021000,2014,1,RHT,1.110,0.60062,2015-07-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,0.721623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,8489035000,2015,1,RNH,1.767,2.09578,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,4.008390
1455,8489042000,2014,1,RNH,1.073,1.14400,2015-07-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,1.328659
1456,8489042000,2015,1,RNH,1.767,1.15261,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,2.204483
1457,8489152500,2014,1,RNH,1.073,1.56004,2015-07-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,1.811854
1458,8489152500,2015,1,RNH,1.767,1.53831,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,2.942173
1459,8489275001,2014,1,RNH,1.073,1.64220,2015-07-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,1.907276
1460,8489275001,2015,1,RNH,1.767,1.55953,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,2.982758
1461,8492076001,2014,1,RNH,1.073,0.81821,2015-07-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,0.950281
1462,8492076001,2015,1,RNH,1.767,0.58614,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,1.121052
1463,8492095500,2014,1,RNH,1.073,1.54281,2015-07-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,1.791843
1464,8492095500,2014,1,RNH,1.073,1.63255,2015-01-01,2015-07-01,2014-09-02,2015.0,2,1.0824,1.042,1.896068
1465,8492158000,2014,1,RNH,1.073,0.82283,2015-01-01,None,2014-09-02,2015.0,2,1.0824,1.042,0.955647
1466,8492167000,2014,1,RNH,1.073,1.03073,2015-07-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,1.197105
1467,8492167000,2015,1,RNH,1.767,0.95976,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,1.835638
1468,8495056000,2014,1,RNH,1.073,0.81101,2015-07-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,0.941919
1469,8495056000,2015,1,RNH,1.767,0.54873,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,1.049501
1470,8496164000,2014,1,RHT,1.110,0.61238,2015-05-01,None,2014-09-02,2015.0,2,1.0824,1.042,0.735753
1471,8496185001,2014,1,RNH,1.073,1.31692,2015-05-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,1.529491
1472,8496185001,2015,1,RNH,1.767,1.19787,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,2.291047
1473,8497059000,2014,1,RNH,1.073,0.47107,2015-05-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,0.547108
1474,8497059000,2015,1,RNH,1.767,0.38249,2016-03-01,None,2015-07-29,2016.0,2,1.0824,1.042,0.731551
1475,8501070000,2014,1,RNH,1.073,1.70108,2015-06-01,2016-04-01,2014-09-02,2015.0,2,1.0824,1.042,1.975660
1476,8501070000,2015,1,RNH,1.767,1.69092,2016-04-01,None,2015-07-29,2016.0,2,1.0824,1.042,3.234055
1477,8502017000,2014,1,RNH,1.073,0.87709,2015-06-01,2016-04-01,2014-09-02,2015.0,2,1.0824,1.042,1.018666
1478,8502017000,2014,1,RNH,1.073,1.05760,2015-02-01,2015-06-01,2014-09-02,2015.0,2,1.0824,1.042,1.228313
1479,8506006401,2014,1,RNH,1.073,2.83518,2015-06-01,2016-04-01,2014-09-02,2015.0,2,1.0824,1.042,3.292821
1480,8506006401,2015,1,RNH,1.767,2.84173,2016-04-01,None,2015-07-29,2016.0,2,1.0824,1.042,5.435095
1481,8844518001,2014,1,RNH,1.073,1.01839,2015-06-01,2016-03-01,2014-09-02,2015.0,2,1.0824,1.042,1.182774
1482,8844518001,2015,1,RNH,1.767,1.07675,2016-03-01,2016-09-01,2015-07-29,2016.0,2,1.0824,1.042,2.059393
1483,8844518001,2015,1,RNH,1.767,1.07675,2016-09-01,None,2015-07-29,2016.0,2,1.0824,1.042,2.059393

## CENTHUDDemand

In [3]:
from icap.centhud.centhud import CENTHUDDemand
dmd = CENTHUDDemand(conn)

In [4]:
icap = dmd.compute_icap().copy()

KeyError: 'AVGDemand'

In [ ]:
#icap[icap['PremiseId'] == '1120030000']
icap[icap['PremiseId'] == '5616019800']

In [14]:
rec = dmd.records_.copy()
util = dmd.util_df_.copy()
lp = dmd.load_profile.copy()

In [15]:
rec = rec[rec['PremiseId'] == '1120030000'].copy()

In [16]:
tmp = pd.merge(rec, util,
        how='left',
        on=['Year', 'RateClass', 'Strata'])

In [17]:
tmp

    PremiseId  Year RateClass Strata  AVGDemand  UtilFactor
0  1120030000  2014         2    LGP      217.1    1.089121

In [18]:
tmp = pd.merge(tmp, lp,
              how='left',
              on=['Strata', 'Year'])

In [19]:
tmp

    PremiseId  Year RateClass Strata  AVGDemand  UtilFactor  AVGHourlyLoad
0  1120030000  2014         2    LGP      217.1    1.089121            NaN

In [20]:
tmp['ICap'] = tmp['AVGDemand'] * tmp['UtilFactor'] * tmp['AVGHourlyLoad']

# CONEDRecipe

In [21]:
tmp

,PremiseId,Year,RateClass,Strata,AVGDemand,UtilFactor,AVGHourlyLoad,ICap
0,1120030000,2014,2,LGP,217.1,1.089121,NaN,NaN

In [22]:
from icap.results.results import Results
from icap.centhud.centhud import CENTHUDRecipe

In [23]:
r = CENTHUDRecipe(conn, results=Results).run_all()

In [24]:
r.compare_[r.compare_['PremiseId'] == '1120030000']

,RunDate,ISO,UtilityId,PremiseId,Year,RateClass,Strata,MeterType,RecipeICap,HistoricalICap,RecipeVariance
0,2017-02-15 10:40:18.022376,NYISO,CENTHUD,1120030000,2015,2,LGP,DMD,NaN,223.81,NaN