# COMED

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import pymssql

from icap.database.icapdatabase import ICapDatabase

In [2]:
fp = 'icap/database/icapdatabase.json'
conn = ICapDatabase(fp).connect()

In [3]:
# Initialize excel writer
# Use the writer df.to_excel(writer, 'sheet_name')
writer = pd.ExcelWriter('comed.xlsx')

In [4]:
from icap.comed.comed import COMEDInterval

In [5]:
cint = COMEDInterval(conn, premise='9590268008')

## Constants from Test Case

In [6]:
# Weather Normalized Peak Load
# Taken from the test case
COMED_NPL = 20900000;
COMED_CUST_DELTA = 1121264;

## Comed CP Avg Peak Load

In [7]:
'''
def get_comed_cp_avg_peak_load(conn: pymssql.Connection) -> pd.DataFrame:
    query = """
        select
            Cast(CPYearID - 1 as int) as Year,
            AVG(ZonalLoad) * 1000 as AvgCPZonalLoad
        from [COMED_CoincidentPeak]
        group by
            Cast(CPYearID - 1 as int)
    """
    return pd.read_sql(query, conn).set_index('Year')

get_comed_cp_avg_peak_load(conn).to_excel(writer, 'comed_cp_avg_peakload')'''

'\ndef get_comed_cp_avg_peak_load(conn: pymssql.Connection) -> pd.DataFrame:\n    query = """\n        select\n            Cast(CPYearID - 1 as int) as Year,\n            AVG(ZonalLoad) * 1000 as AvgCPZonalLoad\n        from [COMED_CoincidentPeak]\n        group by\n            Cast(CPYearID - 1 as int)\n    """\n    return pd.read_sql(query, conn).set_index(\'Year\')\n\nget_comed_cp_avg_peak_load(conn).to_excel(writer, \'comed_cp_avg_peakload\')'

In [8]:
def get_comed_cp_avg_peak_load(conn: pymssql.Connection)-> pd.DataFrame:
    query = """
        select 
            Cast(CPYearId-1 as int) Year,
            Avg(PJMZonalLoad) * 1000 as AvgCPZonalLoad
        from [CoincidentPeak]
        where UtilityId = 'COMED'
        group by
            Cast(CpYearId-1 as int)
    """
    return pd.read_sql(query, conn).set_index('Year')

In [9]:
comed_cp_avg_peak_load = get_comed_cp_avg_peak_load(conn)

In [10]:
comed_cp_avg_peak_load['Step4Diff'] = COMED_NPL - comed_cp_avg_peak_load['AvgCPZonalLoad']

## PJM CP Usage

In [11]:
def get_pjm_cp_usage(conn: pymssql.Connection, premise: str = None) -> pd.DataFrame :
    """Select all records from COMED Hourly
    for PJM coincident peak usage. Filter those values that
    do not possess 5 values per year
    """
    
    # query
    query = """
        select distinct
            h.PremiseId,
            iif(RTrim(p.RateClass)  is null, 'MILES', RTrim(p.RateClass)) as RateClass,
            RTrim(p.DSC) as DSC,
            CAST(cp.CPYearId -1 as INT) as Year, 
            cp.CPDate as CPDatePJM,
            cp.HourEnding as CPHourEnding,
            --cp.HourEnding-1 as ADJCPHourEndingPJM, 
            h.Usage as UsagePJM
        from [COMED_Premise] p
        inner join [HourlyUsage] h on
            p.PremiseId = h.PremiseId
        inner join [CoincidentPeak] cp on
            cp.UtilityId = h.UtilityId and
            cp.CPDate = h.UsageDate and
            cp.HourEnding = h.HourEnding 
        where
            h.UtilityId = 'COMED'
            {prem}
        order by
            h.PremiseId, RateClass, DSC, cp.CPDate
        """
    if premise is not None:
        pjm_cp_query = query.format(prem="and h.PremiseId = '%s'" % premise)
    else:
        pjm_cp_query = query.format(prem="", year="")
    
    # read query
    df = pd.read_sql(pjm_cp_query, conn)
    
    # group by premise
    # create filter for len(usage) != 5
    grp = df.groupby(['PremiseId', 'Year'])['UsagePJM'].agg(
        {'CountPJM': len, 'MeanPJM': np.mean})
    grp.reset_index(inplace=True)
    
    # set `Mean` = np.NaN if `Count` != 5
    missing_data_index = grp[grp['CountPJM'] != 5.0].index
    grp = grp.set_value(missing_data_index, 'MeanPJM', np.nan)
    
    
    
    return pd.merge(df, grp, how='left',
                   on=['PremiseId', 'Year'])

In [12]:
get_pjm_cp_usage(conn).to_excel(writer, 'pjm_cp_usage')

In [13]:
df = get_pjm_cp_usage(conn)

In [14]:
df[df.PremiseId == '1199042022']

,PremiseId,RateClass,DSC,Year,CPDatePJM,CPHourEnding,UsagePJM,MeanPJM,CountPJM
1661,1199042022,MILES,C31,2016,2016-07-25,15.0,740.60,613.692,5.0
1662,1199042022,MILES,C31,2016,2016-07-27,16.0,476.56,613.692,5.0
1663,1199042022,MILES,C31,2016,2016-08-10,16.0,619.22,613.692,5.0
1664,1199042022,MILES,C31,2016,2016-08-11,15.0,589.52,613.692,5.0
1665,1199042022,MILES,C31,2016,2016-08-12,15.0,642.56,613.692,5.0

## COMED CP Usage

In [15]:
def get_comed_cp_usage(conn: pymssql.Connection, premise: str = None) -> pd.DataFrame :
    """Select all records from COMED Hourly
    for COMED coincident peak usage. Filter those values that
    do not possess 5 values per year
    """
    
    # query
    query = """
        select distinct
            h.PremiseId,
            iif(RTrim(p.RateClass)  is null, 'MILES', RTrim(p.RateClass)) as RateClass,
            RTrim(p.DSC) as DSC,
            CAST(cp.CPYearId -1 as INT) as Year, 
            cp.CPDate as CPDateCOMED, 
            cp.HourEnding as CPHourEndingCOMED, 
            h.Usage as UsageCOMED,
            ZonalLoad
        from [HourlyUsage] h
        inner join [COMED_CoincidentPeak] cp on
            cp.UtilityId = h.UtilityId and
            cp.CPDate = h.UsageDate and
            cp.HourEnding = h.HourEnding
        inner join [COMED_Premise] p on
            p.PremiseId = h.PremiseId
        where
            h.UtilityId = 'COMED'
            {prem}
        order by
            h.PremiseId, RateClass, DSC, cp.CPDate
        """
    # format query for single premise
    if premise is not None:
        pjm_cp_query = query.format(prem="and h.PremiseId = '%s'" % premise)
    else:
        pjm_cp_query = query.format(prem="")
    
    # read query
    df = pd.read_sql(pjm_cp_query, conn)
    
    # group by premise
    # create filter for len(usage) != 5
    #df.replace(to_replace=None, value="Miles", inplace=True)
    
    grp = df.groupby(['PremiseId', 'Year', 'RateClass'])['UsageCOMED'].agg(
        {'CountCOMED': len, 'MeanCOMED': np.mean})
    grp.reset_index(inplace=True)
        
    # set `Mean` = np.NaN if `Count` != 5
    missing_data_index = grp[grp['CountCOMED'] != 5.0].index
    grp = grp.set_value(missing_data_index, 'MeanCOMED', np.nan)
    
    return pd.merge(df, grp, how='left',
                   on=['PremiseId', 'Year', 'RateClass'])

In [16]:
get_comed_cp_usage(conn).to_excel(writer, 'comed_cp_usage')

In [17]:
get_comed_cp_usage(conn, premise='1199042022')

,PremiseId,RateClass,DSC,Year,CPDateCOMED,CPHourEndingCOMED,UsageCOMED,ZonalLoad,MeanCOMED,CountCOMED
0,1199042022,MILES,C31,2016,2016-07-11,17.0,587.62,20268.179688,570.464,5.0
1,1199042022,MILES,C31,2016,2016-07-21,18.0,517.93,20296.000000,570.464,5.0
2,1199042022,MILES,C31,2016,2016-08-04,17.0,557.17,20500.960938,570.464,5.0
3,1199042022,MILES,C31,2016,2016-08-11,15.0,589.52,21174.580078,570.464,5.0
4,1199042022,MILES,C31,2016,2016-09-06,17.0,600.08,20949.191406,570.464,5.0

## Load Drop Estimates

In [18]:
def get_comed_load_drop_estimates(conn: pymssql.Connection) -> pd.DataFrame:
    query = """
        select
            Cast(CPYearID -1 as INT) as Year,
            ParameterId,
            (1.0 + ParameterValue/100.0) as LoadDrop
        from [SystemLoad]
        where
            UtilityId = 'COMED' --and
            --ParameterId = 'UFT'
    """
    
    # return pd.read_sql(query, conn).set_index('Year')
    df = pd.read_sql(query, conn)
    return pd.pivot_table(df, index='Year', columns='ParameterId', values='LoadDrop')
get_comed_load_drop_estimates(conn).to_excel(writer, 'load_drop_estimates')

## Utility Factors

In [19]:
def get_comed_utility_factors(conn: pymssql.Connection) -> pd.DataFrame:
    query = """
        select
            Year(StartDate) as Year,
            RTrim(RateClass) as DSC,
            ParameterId, ParameterValue
        from [UtilityParameterValue]
        where
            UtilityId = 'COMED'
            
    """ 
    
    df = pd.read_sql(query, conn)
    
    piv = pd.pivot_table(df, index=['Year', 'DSC'], columns='ParameterId', values='ParameterValue')
    
    return piv.reset_index(level=1)
    
get_comed_utility_factors(conn).to_excel(writer, 'comed_util_factors')

In [20]:
df = get_comed_load_drop_estimates(conn)
#df.reset_index(inplace=True)
#pd.pivot_table(df, columns='ParameterId', values='LoadDrop', index='Year')
df

ParameterId       UFC       UFT
Year
2015         1.022679  1.035657
2016         1.022679  1.035657

In [21]:
def compute_acustcpl(conn:pymssql.Connection, premise: str=None)->pd.DataFrame:
    mean_pjm = get_pjm_cp_usage(conn, premise=premise)[['PremiseId', 'Year', 'DSC', 'MeanPJM']] \
        .drop_duplicates() \
        .reset_index()
        
    # System and util factors index on Year
    util = get_comed_utility_factors(conn)
    sys = pd.DataFrame(get_comed_load_drop_estimates(conn)['UFC'])
    
    # Join `util` and `sys` on Year index
    df = pd.merge(util, sys, left_index=True, right_index=True).reset_index()    
   
    # Join mean usage values with utility/system factors
    df = pd.merge(mean_pjm, df, on=['Year', 'DSC']).drop('index', axis=1)
 
    # Compute the AcustPL value
    df['AcustCPL'] = df['MeanPJM'] * df['DistLossFactor'] * df['TransLossFactor'] * df['UFC'] #df['LoadDrop']
    df.set_index(['PremiseId', 'Year'], inplace=True)
    return df

In [22]:
#pd.DataFrame(get_comed_load_drop_estimates(conn)['UFC'])
compute_acustcpl(conn, premise='1199042022')

,,DSC,MeanPJM,DistLossFactor,TransLossFactor,UFC,AcustCPL
PremiseId,Year,,,,,,
1199042022,2016,C31,613.692,1.0629,1.016,1.022679,677.759958

## Compute AcustPL

In [23]:
def compute_acustpl(conn: pymssql.Connection, premise: str=None)->pd.DataFrame:
    # ComedCP unique mean usage values per year; includes np.NaN
    mean_comed = get_comed_cp_usage(conn, premise=premise)[['PremiseId','Year','DSC','MeanCOMED']] \
        .drop_duplicates() \
        .reset_index()  

    # System and util factors index on Year
    util = get_comed_utility_factors(conn)
    sys = pd.DataFrame(get_comed_load_drop_estimates(conn)['UFT'])
    
    # Join `util` and `sys` on Year index
    df = pd.merge(util, sys, left_index=True, right_index=True).reset_index()    
   
    # Join mean usage values with utility/system factors
    df = pd.merge(mean_comed, df, on=['Year', 'DSC']).drop('index', axis=1)
 
    # Compute the AcustPL value
    df['AcustPL'] = df['MeanCOMED'] * df['DistLossFactor'] * df['TransLossFactor'] * df['UFT']#df['LoadDrop']
    df.set_index(['PremiseId', 'Year'], inplace=True)
    return df

In [24]:
compute_acustpl(conn).to_excel(writer, 'ACustPL')

In [25]:
compute_acustpl(conn, premise='1199042022')

,,DSC,MeanCOMED,DistLossFactor,TransLossFactor,UFT,AcustPL
PremiseId,Year,,,,,,
1199042022,2016,C31,570.464,1.0629,1.016,1.035657,638.014127

## AcustCPL

In [26]:
# Import all usage data for utility or premise
# returns pd.DataFrame indexed on [PremiseId, Year]
pjm_cp_usage = get_pjm_cp_usage(conn) \
    .set_index(['PremiseId', 'Year'])

    
# AcustCPL
# AcustCPL = pjm_cp_usage.MeanPJM * (1.0 + SystemLoad.UFT) * UPV.[DistLossFactor, TransLossFactor]
#AcustCPL = pjm_cp_usage['MeanPJM'].drop_duplicates()
AcustCPL = compute_acustcpl(conn)['AcustCPL']

compute_acustcpl(conn).to_excel(writer, 'ACustCPL')

In [27]:
comed_cp_usage = get_comed_cp_usage(conn) \
    .set_index(['PremiseId', 'Year'])
    
AcustPL = compute_acustpl(conn)['AcustPL']

In [28]:
peak_loads = pd.merge(pd.DataFrame(AcustCPL), pd.DataFrame(AcustPL),
                        left_index=True, right_index=True) #\
                #.rename(columns={'MeanPJM': 'AcustCPL'})


#peak_loads.to_excel(writer, 'peak_loads')

In [29]:
    
df = pd.merge(peak_loads, comed_cp_avg_peak_load, left_index=True, right_index=True)

In [30]:
def step6(r: pd.Series) -> np.float32:
    if r.AcustCPL >= r.AcustPL:
        return r.AcustCPL
    
    return ((r.AcustPL - r.AcustCPL) / COMED_CUST_DELTA ) # *Step4Diff  #+ r.AcustCPL
    
#f['Step6'] = (df['AcustPL'] - df['AcustCPL']) / COMED_CUST_DELTA


def icap(r: pd.Series) -> np.float32:
    if r.AcustCPL == r.Step6:
        return r.AcustCPL
    return r.AcustCPL + r.Step7


df['Step6'] = df.apply(step6, axis=1)
df['Step7'] = df['Step6'] * df['Step4Diff']
 

    

    
#df['ICap'] = df['Step7'] + df['AcustCPL']
df['ICap'] = df.apply(icap, axis=1)
#
#df.to_excel(writer, 'icap')

In [31]:
df.xs('0443154096', level=0)

,AcustCPL,AcustPL,AvgCPZonalLoad,Step4Diff,Step6,Step7,ICap
Year,,,,,,,
2015,327.790434,324.786698,18880660.0,2019340.0,327.790434,6.619203e+08,327.790434

<hr>

## Compare against historical

In [32]:

historical_query = """
    select 
        PremiseId, Cast(CPYearID-1 as INT) Year,
        CapacityTagValue as Historical
    from [CapacityTagHistorical]
    where
        UtilityId = 'COMED'
    """

historical = pd.read_sql(historical_query, conn).set_index(['PremiseId','Year'])

In [33]:
def one_kw(r: pd.Series)-> str:
    if np.abs(r['ICap'] - r['Historical']) <= 1.0:
        return 'true'
    return 'false'

def passing(r: pd.Series) -> np.int32:
    if abs(r.Variance) <= 2.0 or r['1KW'] == 'true':
        return 1
    return 0

compare = pd.merge(df, historical,
         left_index=True, right_index=True, how='left')


compare['Variance'] = (compare['Historical'] - compare['ICap']) / compare['Historical'] * 100
compare['1KW'] = compare.apply(one_kw, axis=1)

compare['Passing'] = compare.apply(passing, axis=1)

/home/miles/miniconda3/envs/justenergy/lib/python3.5/site-packages/ipykernel/__main__.py:2: RuntimeWarning: invalid value encountered in absolute
  from ipykernel import kernelapp as app

In [34]:
compare.ix['9590268008']

,AcustCPL,AcustPL,AvgCPZonalLoad,Step4Diff,Step6,Step7,ICap,Historical,Variance,1KW,Passing
Year,,,,,,,,,,,
2015,101.761441,176.919427,18880660.0,2019340.0,0.000067,1.353557e+02,101.761508,237.1173,57.083896,false,0
2016,164.854017,113.833523,19227060.0,1672940.0,164.854017,2.757909e+08,164.854017,NaN,NaN,false,0

## Output to Excel for analysis

In [35]:
query = "select * from COMED_CoincidentPeak where CPYearID = 2016. order by CPDate"
pd.read_sql(query, conn)

   CPID  CPYearID ISOID      CPDate  HourEnding      UtilityID     ZonalLoad
0     9    2016.0   PJM  2015-07-17        16.0  COMED          19525.496094
1     7    2016.0   PJM  2015-07-28        16.0  COMED          19765.029297
2    10    2016.0   PJM  2015-09-01        17.0  COMED          19424.433594
3     8    2016.0   PJM  2015-09-02        15.0  COMED          19715.060547
4     6    2016.0   PJM  2015-09-03        17.0  COMED          20162.302734

In [36]:
#writer = pd.ExcelWriter('comed.xlsx')
compare.reset_index(inplace=True)
compare.to_excel(writer, 'variances')

#comed_cp_avg_peak_load.to_excel(writer,'avg_peak_loads')

#AcustCPL.to_excel(writer, 'AcustCPL')
#AcustPL.to_excel(writer, 'ACustPL')
#df.to_excel(writer, 'all_data')
writer.save()

In [37]:
#compare.xs('1199042022', level=0)

In [38]:
compare.to_csv(path_or_buf='~/Projects/BusinessLab/JustEnergy/comed.csv')

# Comparing to Test Cases

In [39]:
import pandas as pd

In [40]:
df = pd.read_csv('/home/miles/Dropbox/iCAP_Project/Results/Analysis/comed.csv')

In [41]:
tc1 = '9590268008'

In [42]:
df[df['PremiseId'] == 9590268008]

,Unnamed: 0,PremiseId,Year,AcustCPL,AcustPL,AvgCPZonalLoad,Step4Diff,ICap,Historical,Variance,1KW,Passing
303,303,9590268008,2015,103.052814,176.919427,1.971846e+07,1.181536e+06,180.889995,103.7372,-74.373315,False,0
304,304,9590268008,2016,166.946048,113.833523,2.063778e+07,2.622176e+05,166.946048,237.1173,29.593476,False,0

In [43]:
compare[compare.PremiseId == '0443154096']

,PremiseId,Year,AcustCPL,AcustPL,AvgCPZonalLoad,Step4Diff,Step6,Step7,ICap,Historical,Variance,1KW,Passing
59,0443154096,2015,327.790434,324.786698,18880660.0,2019340.0,327.790434,6.619203e+08,327.790434,327.7904,-0.000011,true,1

In [44]:
compare[compare.PremiseId == '9590268008']

,PremiseId,Year,AcustCPL,AcustPL,AvgCPZonalLoad,Step4Diff,Step6,Step7,ICap,Historical,Variance,1KW,Passing
304,9590268008,2015,101.761441,176.919427,18880660.0,2019340.0,0.000067,1.353557e+02,101.761508,237.1173,57.083896,false,0
305,9590268008,2016,164.854017,113.833523,19227060.0,1672940.0,164.854017,2.757909e+08,164.854017,NaN,NaN,false,0

In [47]:
print(compare.dropna(subset=['Variance']).shape[0])

compare[((compare.Variance <= 2.0) | (compare.Historical - compare.ICap <= 1))].dropna(subset=['Variance']).sort_values(by='Variance').shape[0]

94

28

In [50]:
compare.dropna(subset=['Variance']).sort_values(by='Passing')

,PremiseId,Year,AcustCPL,AcustPL,AvgCPZonalLoad,Step4Diff,Step6,Step7,ICap,Historical,Variance,1KW,Passing
6,0108142178,2015,375.240448,382.340047,18880660.0,2019340.0,6.331782e-06,1.278602e+01,375.240454,388.0268,3.295222,false,0
205,3451167019,2015,12.618520,13.567424,18880660.0,2019340.0,8.462804e-07,1.708928e+00,12.618521,14.3275,11.927965,false,0
194,2787080257,2015,60.841440,67.068641,18880660.0,2019340.0,5.553733e-06,1.121488e+01,60.841446,72.0564,15.564134,false,0
185,2625068066,2015,50.686504,56.395186,18880660.0,2019340.0,5.091292e-06,1.028105e+01,50.686509,60.9676,16.863204,false,0
180,2216515018,2015,48.520848,49.201529,18880660.0,2019340.0,6.070658e-07,1.225872e+00,48.520849,49.7468,2.464382,false,0
179,2216487019,2015,49.466736,51.604376,18880660.0,2019340.0,1.906455e-06,3.849781e+00,49.466738,53.3166,7.220757,false,0
177,2187117024,2015,277.945548,297.945525,18880660.0,2019340.0,1.783699e-05,3.601895e+01,277.945566,313.9647,11.472351,false,0
210,3843017008,2015,90.549457,95.713451,18880660.0,2019340.0,4.605511e-06,9.300093e+00,90.549461,99.8496,9.314147,false,0
175,2108142045,2015,88.889267,97.067155,18880660.0,2019340.0,7.293455e-06,1.472797e+01,88.889274,103.6173,14.213868,false,0
159,1528217022,2015,30.468816,41.702781,18880660.0,2019340.0,1.001902e-05,2.023181e+01,30.468826,50.7007,39.904526,false,0
155,1386021013,2015,12.745440,13.380851,18880660.0,2019340.0,5.666921e-07,1.144344e+00,12.745441,13.8898,8.238847,false,0
304,9590268008,2015,101.761441,176.919427,18880660.0,2019340.0,6.702970e-05,1.353557e+02,101.761508,237.1173,57.083896,false,0
150,1360533018,2015,106.250798,109.223995,18880660.0,2019340.0,2.651648e-06,5.354578e+00,106.250800,111.6055,4.797881,false,0
146,1267166022,2015,287.417735,292.773209,18880660.0,2019340.0,4.776283e-06,9.644939e+00,287.417740,297.0629,3.246841,false,0
144,1208060012,2015,93.883392,101.601442,18880660.0,2019340.0,6.883347e-06,1.389982e+01,93.883399,108.2762,13.292673,false,0
165,1862646018,2015,42.641112,47.823545,18880660.0,2019340.0,4.621956e-06,9.333301e+00,42.641117,51.9745,17.957620,false,0
212,3907015055,2015,181.200913,190.040577,18880660.0,2019340.0,7.883660e-06,1.591979e+01,181.200921,197.1209,8.076251,false,0
214,3972754012,2015,104.080606,108.051736,18880660.0,2019340.0,3.541654e-06,7.151804e+00,104.080610,111.2325,6.429677,false,0
220,4317412038,2015,77.141976,83.121441,18880660.0,2019340.0,5.332790e-06,1.076872e+01,77.141981,87.9108,12.249711,false,0
299,8931366011,2015,302.107549,312.440768,18880660.0,2019340.0,9.215688e-06,1.860961e+01,302.107558,320.7174,5.802567,false,0
297,8768284017,2015,224.991268,236.360114,18880660.0,2019340.0,1.013931e-05,2.047472e+01,224.991278,245.4662,8.341239,false,0
294,8750445042,2015,99.520789,107.103735,18880660.0,2019340.0,6.762855e-06,1.365650e+01,99.520796,113.1774,12.066547,false,0
287,8466148003,2015,39.892403,50.382883,18880660.0,2019340.0,9.355941e-06,1.889283e+01,39.892413,58.7853,32.138795,false,0
265,6836066003,2015,16.897728,18.435353,18880660.0,2019340.0,1.371332e-06,2.769185e+00,16.897729,19.6669,14.080361,false,0
262,6820799028,2015,48.798736,54.080282,18880660.0,2019340.0,4.710350e-06,9.511798e+00,48.798741,58.3106,16.312402,false,0
260,6820798003,2015,97.361000,100.642197,18880660.0,2019340.0,2.926338e-06,5.909271e+00,97.361003,103.4103,5.849801,false,0
256,6588743020,2015,85.889652,88.390397,18880660.0,2019340.0,2.230291e-06,4.503717e+00,85.889654,90.3934,4.982384,false,0
246,6249158045,2015,129.196847,152.169463,18880660.0,2019340.0,2.048814e-05,4.137252e+01,129.196868,170.5695,24.255586,false,0
239,5485014047,2015,15.123520,15.981094,18880660.0,2019340.0,7.648278e-07,1.544447e+00,15.123521,16.6680,9.266134,false,0
237,5426064070,2015,114.508799,121.662177,18880660.0,2019340.0,6.379745e-06,1.288287e+01,114.508805,127.3918,10.112892,false,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,0921020019,2015,101.970810,105.417720,18880660.0,2019340.0,3.074129e-06,6.207711e+00,101.970813,108.1786,5.738461,false,0
103,0870196026,2015,90.785668,94.433140,18880660.0,2019340.0,3.253000e-06,6.568913e+00,90.785671,96.9115,6.321055,false,0
254,6563016013,2015,98.169955,57.614001,18880660.0,2019340.0,9.816996e+01,1.982385e+08,98.169955,98.1699,-0.000056,true,1
267,6836077006,2015,16.936583,16.968299,18880660.0,2019340.0,2.828600e-08,5.711906e-02,16.936583,16.9937,0.336105,true,1
252,6436510008,2015,148.480950,145.747520,18880660.0,2019340.0,1.484810e+02,2.998335e+08,148.480950,148.4809,-0.000034,true,1
290,8689683018,2015,177.907376,169.808399,18880660.0,2019340.0,1.779074e+02,3.592555e+08,177.907376,177.9073,-0.000043,true,1
241,5907415020,2015,12.415893,12.445487,18880660.0,2019340.0,2.639276e-08,5.329595e-02,12.415893,12.4692,0.427506,true,1
240,5798641009,2015,48.186848,47.136921,18880660.0,2019340.0,4.818685e+01,9.730563e+07,48.186848,48.1868,-0.000100,true,1
292,8738194019,2015,104.926136,104.881538,18880660.0,2019340.0,1.049261e+02,2.118815e+08,104.926136,104.9261,-0.000034,true,1
288,8608329011,2015,91.791216,89.765799,18880660.0,2019340.0,9.179122e+01,1.853577e+08,91.791216,91.7912,-0.000018,true,1
51,0411000032,2015,262.226760,244.408949,18880660.0,2019340.0,2.622268e+02,5.295250e+08,262.226760,262.2267,-0.000023,true,1
233,5294508003,2015,47.087765,47.008841,18880660.0,2019340.0,4.708777e+01,9.508621e+07,47.087765,47.0878,0.000074,true,1
138,1199623054,2015,55.174128,50.500365,18880660.0,2019340.0,5.517413e+01,1.114153e+08,55.174128,55.1741,-0.000051,true,1
142,1204173018,2015,110.909261,107.052767,18880660.0,2019340.0,1.109093e+02,2.239635e+08,110.909261,110.9092,-0.000055,true,1
148,1293077121,2015,18.215113,12.379059,18880660.0,2019340.0,1.821511e+01,3.678251e+07,18.215113,18.2151,-0.000070,true,1
152,1361515014,2015,4.398223,4.342983,18880660.0,2019340.0,4.398223e+00,8.881508e+06,4.398223,4.3982,-0.000531,true,1
170,2036683004,2015,253.155440,247.524100,18880660.0,2019340.0,2.531554e+02,5.112069e+08,253.155440,253.1554,-0.000016,true,1
172,2037129063,2015,79.556236,77.379314,18880660.0,2019340.0,7.955624e+01,1.606511e+08,79.556236,79.5562,-0.000045,true,1
88,0707081089,2015,181.190682,182.290734,18880660.0,2019340.0,9.810815e-07,1.981137e+00,181.190683,183.1720,1.081670,false,1
36,0301670011,2015,84.727385,80.056143,18880660.0,2019340.0,8.472738e+01,1.710934e+08,84.727385,84.7274,0.000018,true,1
186,2642290008,2015,189.390467,184.601294,18880660.0,2019340.0,1.893905e+02,3.824437e+08,189.390467,189.3904,-0.000035,true,1
71,0543158103,2015,9.541044,9.300883,18880660.0,2019340.0,9.541044e+00,1.926661e+07,9.541044,9.5410,-0.000461,true,1
208,3709079008,2015,186.266035,173.520894,18880660.0,2019340.0,1.862660e+02,3.761345e+08,186.266035,186.2660,-0.000019,true,1
62,0470747007,2015,826.005454,755.519029,18880660.0,2019340.0,8.260055e+02,1.667986e+09,826.005454,828.4144,0.290790,false,1
59,0443154096,2015,327.790434,324.786698,18880660.0,2019340.0,3.277904e+02,6.619203e+08,327.790434,327.7904,-0.000011,true,1
224,4842743019,2015,80.581608,76.950505,18880660.0,2019340.0,8.058161e+01,1.627217e+08,80.581608,80.5816,-0.000010,true,1
228,4904381026,2015,300.186990,303.364422,18880660.0,2019340.0,2.833795e-06,5.722395e+00,300.186993,305.9096,1.870686,false,1
42,0354423019,2015,65.678428,66.118867,18880660.0,2019340.0,3.928059e-07,7.932087e-01,65.678428,66.4717,1.193397,true,1
188,2771025026,2015,143.981527,122.860940,18880660.0,2019340.0,1.439815e+02,2.907477e+08,143.981527,143.9815,-0.000019,true,1
153,1380478009,2015,103.847079,92.137550,18880660.0,2019340.0,1.038471e+02,2.097026e+08,103.847079,103.8471,0.000020,true,1