In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from icap.database.icapdatabase import ICapDatabase
from icap.peco.peco import PECO
from icap.peco.peco import PECOInterval
from icap.peco.peco import PECOConsumption
from icap.peco.peco import PECODemand

from icap.results.results import Results

from icap.peco.peco import PECORecipe

In [2]:
fp ='icap/database/icapdatabase.json'
conn = ICapDatabase(fp).connect()

In [3]:
res = PECORecipe(conn, Results).run_all()

In [7]:
r = res.compare_.copy()

In [9]:
r[r['HistVar'] <= 2.0].shape

(1331, 11)

In [18]:
r.columns

Index(['RunDate', 'ISO', 'UtilityId', 'PremiseId', 'Year', 'RateClass',
       'Strata', 'MeterType', 'RecipeICap', 'CapacityTagValue', 'HistVar'],
      dtype='object')

In [21]:
r.dropna(axis=0, subset=['CapacityTagValue']).shape

(3201, 11)

In [22]:
def passing_value(series):
    variance = series['HistVar']
    if variance <= 2.0:
        return True
    elif varinace > 2.0:
        return False
    else:
        return varinace
        
r.apply

HistVar           3.876108284525013e-06  1.2365886021119382e-05  \
RateClass Strata
GS        101                         1                       0
          107                         0                       0
HT        151                         0                       1
PD        157                         0                       0
R         111                         0                       0
          112                         0                       0
          113                         0                       0
RH        122                         0                       0
          123                         0                       0
All                                   1                       1

HistVar           1.2504871724787101e-05  1.820275709121386e-05  \
RateClass Strata
GS        101                          1                      1
          107                          0                      0
HT        151                          0                      0
PD        157                          0                      0
R         111                          0                      0
          112                          0                      0
          113                          0                      0
RH        122                          0                      0
          123                          0                      0
All                                    1                      1

HistVar           1.8513501036369082e-05  2.261513442247851e-05  \
RateClass Strata
GS        101                          1                      1
          107                          0                      0
HT        151                          0                      0
PD        157                          0                      0
R         111                          0                      0
          112                          0                      0
          113                          0                      0
RH        122                          0                      0
          123                          0                      0
All                                    1                      1

HistVar           2.3984314429626395e-05  3.072776856402569e-05  \
RateClass Strata
GS        101                          0                      0
          107                          0                      0
HT        151                          1                      0
PD        157                          0                      1
R         111                          0                      0
          112                          0                      0
          113                          0                      0
RH        122                          0                      0
          123                          0                      0
All                                    1                      1

HistVar           3.137702280442504e-05  3.33171040004257e-05  ...   \
RateClass Strata                                               ...
GS        101                         0                     1  ...
          107                         0                     0  ...
HT        151                         1                     0  ...
PD        157                         0                     0  ...
R         111                         0                     0  ...
          112                         0                     0  ...
          113                         0                     0  ...
RH        122                         0                     0  ...
          123                         0                     0  ...
All                                   1                     1  ...

HistVar           1729.975829998925  1784.078047151215  5911.317251616581  \
RateClass Strata
GS        101                     1                  1                  1
          107                     0                  0                  0
HT        151                     0                  0                  0
PD        157                     0                  0                  0
R         111                     0                  0                  0
          112                     0                  0                  0
          113                     0                  0                  0
RH        122                     0                  0                  0
          123                     0                  0                  0
All                               1                  1                  1

HistVar           7787.576878636301  9918.862086027637  11922.634503233163  \
RateClass Strata
GS        101                     1                  1                   1
          107                     0                  0                   0
HT        151                     0                  0                   0
PD        157                     0                  0                   0
R         111                     0                  0                   0
          112                     0                  0                   0
          113                     0                  0                   0
RH        122                     0                  0                   0
          123                     0                  0                   0
All                               1                  1                   1

HistVar           13926.406920438689  19937.724172055274  inf   All
RateClass Strata
GS        101                      1                   1    9  1574
          107                      0                   0    0   192
HT        151                      0                   0    0   100
PD        157                      0                   0    0    35
R         111                      0                   0    0    32
          112                      0                   0    0    14
          113                      0                   0    0    29
RH        122                      0                   0    0     2
          123                      0                   0    0    15
All                                1                   1    9  1993

[10 rows x 1912 columns]

In [6]:
res = res.compare_.copy()

In [10]:
valid_idx = res[res['HistVar'] <= 2.0].index

res['Valid'] = 0
res.set_value(valid_idx, 'Valid', 1)

res.dropna(subset=['HistVar'], inplace=True)
count = res.groupby('Valid')['Valid'].count()

## PECO super class

In [3]:
p = PECO(conn)

In [4]:
# confirm utility/system/loadshape dataframes are NOT empty
all((not p.util_df_.empty, not p.sys_df_.empty, not p.loadshape_df_.empty))

True

## PECODemand

In [16]:
pdmd_case = PECODemand(conn, premise='3612801108')

## PECOConsumption

In [21]:
pcon = PECOConsumption(conn, premise='5811500607').compute_icap()

In [22]:
pcon

Empty DataFrame
Columns: [RunDate, ISO, Utility, PremiseId, Year, RateClass, Strata, MeterType, ICap]
Index: []

## PECOInterval

In [5]:
pint = PECOInterval(conn, premise='8722801404')

In [8]:
pint.records_[pint.records_['Year'] == '2014'
             ].sort_values(by='UsageDate')['Usage']

0    740.625
1    764.625
2    797.250
3    785.250
4    863.625
Name: Usage, dtype: float64

## Concatenate and Compute Historical

In [9]:
av = pd.concat([pdmd, pcon, pint])
Results(conn, av).write_to_csv()
print('Done!')

Done!

In [66]:
df = pd.read_csv('peco_rec.csv')

In [67]:
df.head()

,RunDate,ISO,Utility,PremiseId,Year,RateClass,Strata,MeterType,ICap,CapacityTagValue,HistVar
0,2017-01-03_05:58,PJM,PECO,6060055,2016,HT,151,INT,702.3005,NaN,NaN
1,2017-01-03_05:58,PJM,PECO,7008068,2015,GS,107,INT,NaN,NaN,NaN
2,2017-01-03_05:58,PJM,PECO,7008068,2016,GS,107,INT,NaN,NaN,NaN
3,2017-01-03_05:58,PJM,PECO,12026158,2016,GS,101,INT,64.8189,NaN,NaN
4,2017-01-03_05:58,PJM,PECO,12050047,2016,GS,101,INT,NaN,68.44,NaN

In [68]:
df.dropna(subset=['HistVar'], inplace=True)
df['Valid'] = False
valid_idx = df[df['HistVar'] <= 2.0].index
df.set_value(valid_idx, 'Valid', True)


by_year = df.groupby(
    ['Year', 'RateClass', 'Strata', 'Valid'])['HistVar'].count().unstack(level=3
                                                                        ).replace(to_replace=np.nan, value=0.0
                                                                                 )

In [95]:
by_year['Ratio'] = by_year[True] / (by_year[True] + by_year[False])

In [137]:
def avg(grp, label=None):
    grp[label] = grp['Ratio'].mean()
    return grp

t_1 = by_year.reset_index().groupby(['Year', 'RateClass']).apply(lambda x: avg(x, 'RC_AVG'))
#t_2 = by_year.reset_index().groupby(['Year']).apply(lambda x: avg(x, 'Year_AVG'))

t_1 = t_1.groupby('Year').apply(lambda x: avg(x, 'Year_AVG'));
t_1['Count']

In [139]:
writer = pd.ExcelWriter('/home/miles/Desktop/peco_historical_comparison.xlsx', engine='xlsxwriter')
tmp.to_excel(writer, sheet_name='Analysis')
writer.save()

In [3]:
pd.read_excel('/home/miles/Downloads/peco_historical_comparison.xlsx')

      Year RateClass  Strata  False  True     Ratio    RC_AVG  Year_AVG
0   2014.0         R     111      0    15  1.000000  0.801587  0.680952
1      NaN       NaN     112      3     4  0.571429  0.801587  0.680952
2      NaN       NaN     113      1     5  0.833333  0.801587  0.680952
3      NaN        RH     122      0     1  1.000000  0.500000  0.680952
4      NaN       NaN     123      4     0  0.000000  0.500000  0.680952
5   2015.0        GS     101    274    46  0.143750  0.071875  0.538892
6      NaN       NaN     107    137     0  0.000000  0.071875  0.538892
7      NaN        HT     151      3    80  0.963855  0.963855  0.538892
8      NaN        PD     157      0     5  1.000000  1.000000  0.538892
9      NaN         R     111      1    10  0.909091  0.914141  0.538892
10     NaN       NaN     112      1     5  0.833333  0.914141  0.538892
11     NaN       NaN     113      0     5  1.000000  0.914141  0.538892
12     NaN        RH     122      1     0  0.000000  0.000000  0.538892
13     NaN       NaN     123      4     0  0.000000  0.000000  0.538892
14  2016.0        GS     101    462  1586  0.774414  0.413803  0.531149
15     NaN       NaN     107    178    10  0.053191  0.413803  0.531149
16     NaN        HT     151     14   104  0.881356  0.881356  0.531149
17     NaN        PD     157      7    33  0.825000  0.825000  0.531149
18     NaN         R     111      0    19  1.000000  0.748792  0.531149
19     NaN       NaN     112      4     2  0.333333  0.748792  0.531149
20     NaN       NaN     113      2    21  0.913043  0.748792  0.531149
21     NaN        RH     122      1     0  0.000000  0.000000  0.531149
22     NaN       NaN     123     10     0  0.000000  0.000000  0.531149