In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

from icap.database.icapdatabase import ICapDatabase
from icap.ppl.ppl import PPL
from icap.results.results import Results

In [2]:
fp = 'icap/database/icapdatabase.json'
conn = ICapDatabase(fp).connect()

In [3]:
p = PPL(conn).compute_icap()

In [4]:
r = Results(conn, p).compare_historical()

In [9]:
valid_idx = r[r['HistVar'] <= 2.0].index
r['Valid'] = False
r.set_value(valid_idx, 'Valid', True)

r[r['PremiseId'] == '6313091035']

,RunDate,ISO,Utility,PremiseId,Year,RateClass,Strata,MeterType,ICap,CapacityTagValue,HistVar,Valid
6904,2017-01-03 14:22:03.818109,PJM,PPL,6313091035,2015,LP4,L4L,INT,619.251012,717.48,13.690833,False
6905,2017-01-03 14:22:03.818109,PJM,PPL,6313091035,2016,LP4,L4L,INT,873.876707,930.14,6.048906,False
6906,2017-01-03 14:22:03.818109,PJM,PPL,6313091035,2017,LP4,L4L,INT,1033.609273,NaN,NaN,False

In [11]:
p = PPL(conn)

In [12]:
prem = p.records_[p.records_['PremiseId'] == '6313091035']

In [15]:
yr = prem[prem['Year'] == '2015']

In [17]:
lf_idx = p.util_df_[p.util_df_['ParameterId'] == 'Loss Factor'].index
lf = p.util_df_.ix[lf_idx]

In [20]:
p.sys_df_

    Year       ParameterId  ParameterValue
0   2015  2015-07-20 17:00        1.022111
1   2015  2015-07-28 17:00        1.045715
2   2015  2015-07-29 17:00        1.019992
3   2015  2015-08-17 15:00        1.020183
4   2015  2015-09-03 17:00        1.042295
5   2014  2014-06-17 18:00        1.113108
6   2014  2014-06-18 17:00        1.109343
7   2014  2014-07-01 18:00        1.076035
8   2014  2014-07-22 17:00        1.117880
9   2014  2014-09-05 16:00        1.185176
10  2016  2016-07-25 16:00        1.022111
11  2016  2016-07-27 17:00        1.045715
12  2016  2016-08-10 17:00        1.019992
13  2016  2016-08-11 16:00        1.020183
14  2016  2016-08-12 15:00        1.042295